[2016-09-02 15:58] jahnj0584 commented on #478
Didn't work. Using the zip I downloaded from yesterday. Both normal and 64
do the same thing. I think this is an issue with my computer and not the
program (since old versions don't work either) but not sure what could have
changed? Compatability mode didn't do anything.

On Sep 2, 2016 10:49 AM, "Will Winder" <notifications@github.com> wrote:

[2016-09-02 19:48] #466 closed

[2016-09-02 19:51] winder commented on #466
This should be resolved now, let me know if you see any other issues with single step mode.

[2016-09-02 21:00] jahnj0584 commented on #478
it launches on my main computer, but the window is blank so I guess that's an issue for another ticket.

[2016-09-03 00:34] Encarnacao opened #479 "UGS Platform DarkTheme"
Here is how it looks the DarkTheme of UGS Platform

https://photos.google.com/share/AF1QipMxg1UenB7mvBp1aao4Wcih0tNoAOLz-fl7q87E-lzK-nyDirYVwwajfr5nUv9SXQ/photo/AF1QipMXK4Um6yYA2ldjg9AAsrezyicuvfKrfer9rRXA?key=UnVPdVpLVzQzOHQtYVF1cnA3R19KeEpVM0dUb0pB

[2016-09-03 00:40] Encarnacao commented on #472
will do it...

[2016-09-03 01:13] jahnj0584 commented on #479
I like it!

[2016-09-03 14:14] tigerpolis commented on #204
Now i can only move one time then when i click again nothing happens, no error, nothing! Have to disconnect then connect again to move one step again!

[2016-09-03 22:57] jahnj0584 commented on #479
where and how do you install it?

[2016-09-03 22:57] jahnj0584 opened #480 "UGS not loading in Netbeans"
I assume this PC is missing some sort of software to run this properly?

![ss 2016-09-03 at 07 56 28](https://cloud.githubusercontent.com/assets/17396492/18228048/a42c05b0-7210-11e6-9e00-5f06f88980b1.png)

[2016-09-03 23:10] jahnj0584 commented on #480
you can close this. JUST got the latest java update, and it removed an old Java7 patch that was on my system. It launches properly now on this computer. Maybe update the req's to include you need Java 8+? Cheers

[2016-09-04 01:26] winder commented on #480
Good point. I have a [comment here](http://winder.github.io/ugs_website/download/) but not in the github readme.

[2016-09-04 01:27] #480 closed

[2016-09-04 11:00] Encarnacao commented on #479
you download the plug in on
http://plugins.netbeans.org/plugin/62424/darcula-laf-for-netbeans
You go on UGS Platform tools / plug-ins / downloaded / add plug ins and you can see where is directory to drop the file you downloaded , it should be on C: / Users / name of your comp / AppData/ Roaming/.ugsplatform/ dev and u drop there file
to see the AppData u must put on top to see hidden files
on the

[2016-09-04 17:00] duisenberg commented on #466
Looks good, currently its purring like a kitten.  If other issues come up I'll keep u posted.

[2016-09-05 00:13] DOUG888 opened #481 "SUGGESTION...Editor bug"
I realize that at this stage the Editor on Platform is not completed but I have noticed that when I do a SAVE that the Visualizer does not update and neither does the "operating" code, that is until i reload the code then all is correct.
Correcting these 2 issues would make the Editor at least more friendly until the usual editor features are added at a later date.

[2016-09-05 01:09] winder commented on #481
Yup, these are definitely on the list

[2016-09-07 01:59] winder commented on #204
It seems like there is more to this than I expected. I'm not sure I'll be able to trouble shoot this remotely.

[2016-09-07 02:27] #431 closed

[2016-09-07 12:04] vMeph opened #482 "visualize idea?"
In UGS platform would be nice if would have like maybe some buttons with pre define points of view like front, back, side and isometric ?
also when zoom in,  we cant move to sides to zoom in specific points, would it be possible to do it?

[2016-09-07 13:25] jahnj0584 commented on #482
I believe I already submitted this to snap to the Z cube faces. There's no
reason to view it from the side?

On Sep 7, 2016 9:04 AM, "Meph" <notifications@github.com> wrote:

[2016-09-07 16:41] Encarnacao commented on #482
was just a idea sense when u zoom most like you be off the tool path and cant see, if you could with mouse also move to the sides wouldnt be bad

[2016-09-07 16:43] winder commented on #482
I want to have some buttons like this for preset camera angles. Sometimes I view from the side to check that tabs are created properly.

[2016-09-07 16:54] jahnj0584 commented on #482
While we're talking about it can we add multiple side dimensions? Work
height, and safe heights (basically anything above or below the work Z0 as
a seperate value).

On Sep 7, 2016 1:44 PM, "Will Winder" <notifications@github.com> wrote:

[2016-09-07 19:51] winder commented on #482
I guess I could look at which dimensions only have G0 movements to determine what the safety height is. As it is though, the Z label can be really small compared to the X/Y labels so it might be hard to fit in extra information. I can take a look at that when normalizing the label to point forwards.

[2016-09-07 19:58] Encarnacao commented on #482
cool
one more question does UGS platform will have auto leveling plug in on future?

[2016-09-07 20:03] winder commented on #482
Yes an auto leveling plugin is in the future, a lot of the code cleanup work over the past year was designed to make features like that possible. Thats probably what I'll work on once the first stable platform build is released (and I get my limit/probe switches wired).

[2016-09-07 22:10] winder commented on #430
After implementing this, I think that it looks pretty bad/confusing when enabled for the X/Y axes. Maybe I'll enable it just for the Z axis.

<img width="855" alt="screen shot 2016-09-07 at 6 06 28 pm" src="https://cloud.githubusercontent.com/assets/125509/18330328/f0b0cc00-7525-11e6-8dfa-f15c2a1b47f8.png">

<img width="853" alt="screen shot 2016-09-07 at 6 09 59 pm" src="https://cloud.githubuserc

[2016-09-07 22:12] #430 closed

[2016-09-07 22:23] winder commented on #479
Thanks for sharing, good to know this actually works! I'll make a note to update the website: https://github.com/winder/ugs_website

[2016-09-07 22:58] DOUG888 commented on #482
I'll second the ZOOM in to a location that Encarnacao mentioned, maybe focused around the mouse pointer would work, a lot of graphic packages work that way.

[2016-09-07 23:01] jahnj0584 commented on #430
Works for me! The Z one was the one that got the messiest anyways.

[2016-09-07 23:21] winder commented on #482
You can pan with shift+click and drag

On Wednesday, September 7, 2016, DOUG888 <notifications@github.com> wrote:

[2016-09-08 01:29] DOUG888 commented on #482
Thanks

From: Will Winder [mailto:notifications@github.com]
Sent: Thursday, 8 September 2016 9:22 AM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Comment
Subject: Re: [winder/Universal-G-Code-Sender] visualize idea? (#482)

You can pan with shift+click and drag

On Wednesday, September 7, 2016, DOUG888 <notifications@github.com> wrote:

—
You are receiving this because you commented.
Reply to t

[2016-09-08 02:25] winder commented on #482
I made a quick demo of some of the recent visualizer improvements. I'm still working on the select-to-zoom one at the end, but it should be finished shortly.

![visualizer_demo](https://cloud.githubusercontent.com/assets/125509/18335008/dbe33168-7549-11e6-8f26-429edb797374.gif)

[2016-09-08 13:10] Encarnacao commented on #482
looking good , i  have tried the  pan with shift+click and drag works good, would it be possible to hold right mouse click and move with mouse, would be more easy acess?

[2016-09-08 13:13] winder commented on #482
I think the middle-mouse button + drag also pans. I'm open to suggestions.
Definitely an easy to find help box is still needed to describe all these
shortcuts.

On Thu, Sep 8, 2016 at 9:10 AM, Meph <notifications@github.com> wrote:

[2016-09-08 13:16] jahnj0584 commented on #482
UGH IT LOOKS SO GOOD
Whens release? This weekend? I have another batch of jobs next week so if I could play with it over the weekend that'd be great.

[2016-09-08 13:17] jahnj0584 commented on #482
also good call on the right click to jog, should prevent some accidents.

[2016-09-08 19:31] winder commented on #482
Everything but "select-to-zoom" should be in the nightly build already!

On Thu, Sep 8, 2016 at 9:17 AM, Julius <notifications@github.com> wrote:

[2016-09-08 19:40] jahnj0584 commented on #482
Ok I'll have to transfer the new zip over tomorrow then. Been having net
issues in the shop computer lately

On Sep 8, 2016 4:31 PM, "Will Winder" <notifications@github.com> wrote:

[2016-09-08 20:27] jahnj0584 commented on #478
Main computer works with Java 8. Shop computer gets to the loading modules (about 70% done in net beans) and then just crashes.

[2016-09-08 22:18] DOUG888 commented on #482
Nice work Will, everything you mentioned so far working well on my machine.
Tried moving/rotating and panning while running code, all good. Windows7 with 9j.
Thanks for Your efforts

[2016-09-08 22:25] DOUG888 commented on #482
One thing I just noticed, i forgot to set my port to com5 on startup, which i operate on, so it was set to com1 default, but ran anyway. My guess is that this is a saved setting and it just shows com1 as a display but operates on the setting that i previously made. Am i correct????

If this is a bug, please don't loose focus on your current mission, i can wear it for a while.    ;-)

[2016-09-08 23:05] winder commented on #482
Could you create a ticket for that? Classic ugs saved the port but I don't
remember if I added it to the platform. I've been using the testing
firmware option lately for development which doesn't use that field at all.

On Thursday, September 8, 2016, DOUG888 <notifications@github.com> wrote:

[2016-09-08 23:12] DOUG888 opened #483 "COM port setting question"
One thing I just noticed, i forgot to set my port to com5 on startup, which i operate on, so it was set to com1 default, but ran anyway. My guess is that this is a saved setting and it just shows com1 as a display but operates on the setting that i previously made. Am i correct????

If this is a bug, please don't loose focus on your current mission, i can wear it for a while. ;-)

[2016-09-08 23:12] DOUG888 commented on #482
Done

[2016-09-10 10:59] Encarnacao opened #484 "UGS Platform with wireless controler?"
i have seen some UGS controlers with the possibility to set a wireless usb joystick game pad option
not sure but i think wouldnt be a bad option to add, on the future, however i have tryed before using a joystick and i notice something i didnt like, i if you keep pressing to go oneside, when you release button it will keep moving, i guess that would be cause the information keeps feding the buffer

[2016-09-10 11:53] jahnj0584 commented on #484
Set the controller to be a single command and not hold the key. I use
keysticks and its fine

On Sep 10, 2016 7:59 AM, "Meph" <notifications@github.com> wrote:

[2016-09-10 12:37] Encarnacao commented on #484
what program you using for assign the keys to the joystick?

[2016-09-10 12:48] jahnj0584 commented on #484
As I said, keysticks but I have switched to Xpadder.

https://youtu.be/Y-erKT4zRlY

On Sep 10, 2016 9:37 AM, "Meph" <notifications@github.com> wrote:

[2016-09-10 21:56] Encarnacao commented on #484
so you got to do a press for eatch step you do, if you hold key then u got no control where will stop

[2016-09-10 22:09] jahnj0584 commented on #484
That's how jogging works... Unless you have it to 2mm or less, holding it
down will not stop immediately after you release the button.

On Sep 10, 2016 6:56 PM, "Meph" <notifications@github.com> wrote:

[2016-09-12 00:24] Encarnacao commented on #484
what if u used the joystick instead of the keys of it,  maybe hack the joystick with a ic  555 to slow down the frequency that sends the impulse  maybe with the pot to adjust untill you find the right frequency of impulses and when you release would just stop, no idea if would work

[2016-09-12 00:48] jahnj0584 commented on #484
you program the joystick to act like a seperate keypress+hold, and at 1mm jog it's moving in "real time". That is a fact of physics and doesnt matter if youre spamming the mouse or a joystick.

[2016-09-13 11:02] yllar commented on #478
try deleting/removing %APPDATA%\.ugsplatform and see if it works. also make sure you don't have older version of java installed

[2016-09-13 12:41] jahnj0584 commented on #478
java was uninstalled when the new one installed. I'll check the folder, but
i already deleted any folder called netbeans on my drive.

On Tue, Sep 13, 2016 at 8:02 AM, yllar <notifications@github.com> wrote:

[2016-09-13 15:39] jahnj0584 commented on #478
didnt help. Still crashes as it hits the loading module part.

[2016-09-13 17:10] jahnj0584 commented on #478
![java](https://cloud.githubusercontent.com/assets/17396492/18483732/bff4934a-79bb-11e6-8251-91248fa2534d.PNG)
Does this help at all?

[2016-09-17 07:57] Kakrial opened #485 "Homing switches triggered on start up"
When initially running a file, the machine moves to machine coordinates (0,0,0), however, due to the slight slop of the limit switches, they become engaged at X=-0.381mm Y=-0.381mm z=-0.054mm, just before it comes to rest. This stops the run as hard limits are engaged and cannot continue.

My question is, is it possible to change the machine co-ordinates to something like (-5,-5,-5) or to only all

[2016-09-17 13:14] jahnj0584 commented on #485
You should fix your limits, increase your debounce limits, or remove the
code that goes to machine home first.

On Sep 17, 2016 4:57 AM, "Kakrial" <notifications@github.com> wrote:

When initially running a file, the machine moves to machine coordinates
(0,0,0), however, due to the slight slop of the limit switches, they become
engaged at X=-0.381mm Y=-0.381mm z=-0.054mm, just before it comes to r

[2016-09-17 13:41] winder commented on #485
I think you'll have better luck creating a grbl github issue for this question.

You can also read this: https://github.com/grbl/grbl/wiki/Frequently-Asked-Questions#why-is-grbl-in-all-negative-coordinates-after-homing-or-it-so-annoying-and-not-what-im-used-to

[2016-09-17 13:41] #485 closed

[2016-09-18 18:09] abhilashkumar911 commented on #116
sir plz

On Sat, Feb 6, 2016 at 11:01 PM, Abhilash Kumar <abhilashkumar911@gmail.com>
wrote:

[2016-09-20 20:00] ronjo opened #486 "Port selection on Mac OSX 10.11.6"
Nothing shows up under port when running this on a Mac.
Do I need to add any drivers, and in tht case how?

[2016-09-20 20:05] #486 closed

[2016-09-22 21:05] garyrkey opened #487 "Visualizer causes exception on Raspberry Pi"
I have a Raspberry Pi as a controller for a DIY CNC and use UGCS as the G-Code sender. Things work great as far as sending the G-Code is concerned, and thank you very much for developing this software.
I do have a problem with the visualizer part, though. When I click on the Visualizer button, nothing happens in the UGCS screen, but in the terminal window used for starting UGCS, and exception is s

[2016-09-23 03:04] winder commented on #487
Hi Gary, unfortunately this is a known issue. Something about the way I'm using the java 3d library (jogamp) is incompatible with the RPi. Does the visualizer in the UGS Platform version work?

[2016-09-23 03:04] #484 closed

[2016-09-23 03:05] #479 closed

[2016-09-23 03:14] jahnj0584 commented on #478
Bump

[2016-09-23 03:16] jahnj0584 commented on #428
Any word, will?

[2016-09-23 03:40] garyrkey commented on #487
If you are referring to the ugsplatform64.exe, it work great on my PC!

Here's hoping that the Pi related answer comes to you in a flash of
inspiration. :-)

Thanks again for providing a product that lets me use the Pi in my control
box. It's a good thing! I can easily live with visualizing elsewhere, and
cutting with the Pi.

Gary

On Thu, Sep 22, 2016 at 10:04 PM, Will Winder <notifications@gith

[2016-09-23 14:37] winder commented on #428
I'm revamping the controller status code to support a some new features coming soon in grbl 1.0, I'll keep this in mind while doing that.

[2016-09-23 15:21] jahnj0584 commented on #428
Great. Did you get a chance to look at my Java issue? I can't use platform
anymore

On Sep 23, 2016 11:38 AM, "Will Winder" <notifications@github.com> wrote:

[2016-09-23 15:28] winder commented on #478
@jahnj0584 were you able to delete the directories created by the netbeans framework?

On my Windows 10 VM they are located here:
User directory: C:\Users\mac-vm\AppData\Roaming\.ugsplatform\dev
Cache directory: C:\Users\mac-vm\AppData\Roaming\.ugsplatform\dev\var\cache

[2016-09-23 15:45] jahnj0584 commented on #478
In my user folder i have .ugs .jscc and .oracle-jce-usage

On Sep 23, 2016 12:28 PM, "Will Winder" <notifications@github.com> wrote:

[2016-09-23 16:35] winder commented on #478
@jahnj0584 In that directory there should also be an AppData folder, on my VM it is a hidden file and I had to enable show hidden files to see it.

[2016-09-23 16:56] jahnj0584 commented on #478
I found it by searching my C drive and deleted the whole .ugsplatform
folder. It launches now but as anticipated my macros and color theme is
gone. Wooooo!

On Sep 23, 2016 1:36 PM, "Will Winder" <notifications@github.com> wrote:

[2016-09-23 17:30] jahnj0584 commented on #478
this can be closed.

[2016-09-23 17:42] #478 closed

[2016-09-26 17:04] jahnj0584 opened #488 "Cant control machine while job is sent"

[2016-09-26 17:05] jahnj0584 opened #489 "Cant control machine while job is sent"
So on jobs like spoilboard leveling, the file has finish sending before the machine has stopped moving (i have a 800x600mm bed) and that could cause issues. I suggest leaving the start/stop/pause buttons until a machine stops moving after a file has been sent. As it stands, they get greyed out once the last line of code is sent.

[2016-09-26 17:18] #488 closed

[2016-09-26 17:18] winder commented on #489
Good point.

[2016-09-27 15:35] jahnj0584 opened #490 "Platform thinks G92 is a job"
If I try to do a work offset, it will send, change the work 0 but then lock the program (as if its a job). I then press stop, and the old work location returns. This ONLY happens when I try to change the Y value.

[2016-09-27 23:04] DOUG888 opened #491 "SUGGESTION---Text dump of settings and Macro"
When the GRBL edit function is added, a button to dump the GRBL and Macro's to a ".TXT" file would be great, why you ask, well if you have to re-install GRBL everything is lost from GRBL and having a text copy of the Macro's is essential if you have a system crash and have to re-install the UGS software....ask me how i know this....  :-{

Thanks for all your efforts.

[2016-09-27 23:09] jahnj0584 commented on #491
Its too late now, but I have all my GRBL settings and the probe macro in my
sticky notes. "Stickies" is the program I use and it backs up regularily to
a text file.

On Tue, Sep 27, 2016 at 8:04 PM, DOUG888 <notifications@github.com> wrote:

[2016-09-28 00:54] jahnj0584 commented on #319
Will, this problem has been solved. It can be closed.

[2016-09-28 00:55] jahnj0584 commented on #319
@winder

[2016-09-28 00:56] jahnj0584 commented on #411
issue is still there with latest version.

[2016-09-28 00:56] jahnj0584 commented on #413
@winder this issue has been fixed, somehow.

[2016-09-28 00:58] jahnj0584 commented on #429
Also fixed.

[2016-09-28 00:58] #429 closed

[2016-09-28 01:03] DOUG888 commented on #491
Thanks Julius

I’ll have a look at that, what is the file name that stores the Macro’s etc. I may have a general backup that saved them….i hope.

From: Julius [mailto:notifications@github.com]
Sent: Wednesday, 28 September 2016 9:09 AM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Author
Subject: Re: [winder/Universal-G-Code-Sender] SUGGESTION---Text dump of settings and Macro (#491)

Its too la

[2016-09-28 01:04] jahnj0584 commented on #428
Any idea on when this will be implemented? I'd prefer this to backlash compensation (which really isnt necessary for CNC's)

[2016-09-28 01:05] jahnj0584 commented on #418
This was a silly request by me. The G92 command does this already! (but has its own bug, already submitted though!)

[2016-09-28 01:05] #418 closed

[2016-09-28 01:05] #413 closed

[2016-09-28 01:08] jahnj0584 commented on #69
I guess being able to jog to on the visualizer solves this issue but I could maybe see how a "z free" program run could be beneficial.

[2016-09-28 01:11] jahnj0584 commented on #123
Could we add something as simple as "line" in the console beside whats being sent? Similar to what Notepad++ has for its text files!

[2016-09-28 01:16] jahnj0584 commented on #266
Is this still an issue? I dont think it is.

[2016-09-28 01:18] jahnj0584 commented on #124
i think this issue is gone.

[2016-09-28 01:26] jahnj0584 commented on #158
I think this issue was solved thanks to the platform.

[2016-09-28 01:29] jahnj0584 commented on #144
I guess not :P

[2016-09-28 01:38] faultylee commented on #428
I thought backlash compensation should have been in the firmware instead of on the UGS, it's more closely related to the machine

[2016-09-28 01:41] jahnj0584 commented on #428
It will be, but Will would have to spend time to code in the program to choose the backlash amount and all that jazz.

[2016-09-28 01:42] jahnj0584 commented on #491
the file is whatever you save it as. It wont archive the macro's you have in UGS but they will be a copy/paste away!

[2016-09-28 03:23] DOUG888 commented on #491
OK…question…windows7….what are the names of the GRBL settings files and UGS (settings and macro) files that I need to backup and where would they be located

thanks

From: Julius [mailto:notifications@github.com]
Sent: Wednesday, 28 September 2016 11:43 AM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Author
Subject: Re: [winder/Universal-G-Code-Sender] SUGGESTION---Text dump of settings and Mac

[2016-09-28 11:55] jahnj0584 commented on #491
It would be whatever comes up after you send $$,and macros are whatever you type in

[2016-09-28 13:06] winder commented on #491
@DOUG888 if you have a backup with your old filesystem, UGS had all your macros saved to a file in your `%UserProfile%` directory. Depending on the version you were running it is either in a file named `.UniversalGcodeSender.json` or a folder named `.ugs`.

[2016-09-28 13:12] winder commented on #123
There's a little more to it, since previous commands could have updated the internal state that state needs to be saved and reapplied.

So the steps would be something like:
1) figure out what the gcode state was at `<line>`
2) move machine to location right before `<line>`
3) reapply gcode state
4) resume programe with `<line>`

[2016-09-28 13:19] jahnj0584 commented on #123
With my gcodes, each tool path is called like (2D contour1) and reflects as
such in the "last sent" row, but a line number would work.

My codes are also all g91 so as long as you keep work 0 you can restart at
any toolpath

On Sep 28, 2016 10:12 AM, "Will Winder" <notifications@github.com> wrote:

[2016-09-28 13:21] winder commented on #428
The next version of GRBL which is being released soon has the current speed (along with some other metadata) sent in the status messages. So this is only going to be supported with that version of GRBL - but it will be supported soon!

I haven't thought about backlash compensation in a while. Now that the Gcode Parser has modular processors there could be a simple module that adds in backlash comp

[2016-09-28 16:08] jahnj0584 opened #492 "IOException while sending status command:null"
This message keeps coming up in my console. It started after i sent a $4=1 command to test some drivers (as told from the forums, about a week ago) and now it's basically a constant stream today (i accidently left it connected overnight but that shouldn't damage the arduino, right?)

Just wondering what it's from and if i need to buy a new Uno now to stop seeing it?

[2016-09-28 23:36] DOUG888 commented on #491
Thanks Will…I will look for those.

From: Will Winder [mailto:notifications@github.com]
Sent: Wednesday, 28 September 2016 11:06 PM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Mention
Subject: Re: [winder/Universal-G-Code-Sender] SUGGESTION---Text dump of settings and Macro (#491)

@DOUG888 <https://github.com/DOUG888>  if you have a backup with your old filesystem, UGS had all your macros sav

[2016-10-03 08:30] DOUG888 opened #493 "Code interpretation Problem"
Guys
Update on display UGS Version #654
I have now tried several different POST pros unmodified, HaasTM, HaasVF,Fanuc0M and others and I now get a good graphic EXCEPT for the start partial circle, NB these are unmodified and the graphic result is constant.
Yes,I am doing multiple cuts as I am using a DIODE Laser not a CO2 Laser, adjusted focus is requires, hence the use of a Mill POST.
When I view

[2016-10-04 18:45] jahnj0584 commented on #493
you may wanna change your post. It does not do the 3/4 circle at the start for me. It DOES move while your Z is down, and then go up the 0.25 before doing its first pass. You also have it as a cycle so it is cutting this part out multiple times in one file.

[2016-10-04 22:17] DOUG888 commented on #493
My ISSUE has been updated

[2016-10-04 23:53] DOUG888 commented on #493
OK...May have found the problem.
Line N04 contains a G90 and G54, I removed these and the partial circle disappeared, I tried each one individually, but, it has to be both removed to fix the display. The program run OK as well.
I don't understand why this is so, maybe someone with more experience can answer that.
(N02 T1)
N03 M05
N04 G00 G90 G54 X11.995 Y9.938
N05 M08
N06 Z2.54
N07 Z0.
N08 G01 Z-.

[2016-10-04 23:53] #493 closed

[2016-10-05 02:06] DOUG888 commented on #482
Will

Sorry to bother with a small question that has probably been asked before
but I didn't want to raise an ISSUE for it...when GRBL 1.1 or whatever comes
out will it support M06 M6 tool change.

Thanks

Doug

Ps: have now got a working POST for Diode Laser that will step Z as
required, all it needs is a tool change ability to vary the Laser intensity
to complete it.

---
This email has been che

[2016-10-05 03:34] DOUG888 opened #494 "G4 P0.01 Problem"
I have an issue i can't solve...2 Programs attached:
Prog1....Displays correctly for the first part then all I can see is the Rapids..this file contains a G4 P0.01
Prog2....displays correctly...this file does not contain the G4 code.
both files cut correctly.

I have tried various values for G4 P___ but no luck.
I have run other code with G4 P successfully, but they had only a few instances.

Can

[2016-10-05 22:34] #491 closed

[2016-10-05 22:35] #481 closed

[2016-10-05 22:49] DOUG888 opened #495 "SUGGESTION--Using the Tool Change ability already in GRBL"
I asked GRBL about M6 and this is the reply:
"From Sonny Jeon.......First, you can do M6 tool changes already, if you have a GUI that supports it. Grbl provides the basic commands to do this, namely a tool length offset command to alter Z-changes in tools. All a GUI needs to do is intercept an M6 command and insert a (customizable) macro program to do the tool change. There are a few GUIs that do

[2016-10-06 00:53] vMeph opened #496 "N lines of code"
is it possible on UGS platform show lines of code?
what i mean is when g code is parsing shows for  exemple:
 G2X13.756I7.353
ok
 G3X16.806Y12.95I3.05
ok
 G1X169.32
ok
 G3X172.37Y16J3.05

is it possible to show the respective line of code?
 when you do the code on softwares usualy shows the line of codes exemple:

N01 G2X13.756I7.353
N10 G3X16.806Y12.95I3.05
N20 G1X169.32
N30 G3X172.37Y16J3.05

i

[2016-10-06 14:00] winder commented on #495
Actually, the new gcode processor modules could do this pretty easily.

Could you expand on your second idea? I can see it working in several ways:
1) When you load a program you get a bunch of popups asking for the tool offset for each M6, then insert the macro (i.e. raise tool to Z, move to X/Y, pause, etc).
2) The offsets could be added to the end of each tool change like `M6 (offset: 1.23)`, t

[2016-10-06 22:25] DOUG888 commented on #495
in Your 1). the inputs would cover all the normal tool requirements and some personally customized slots...for example:- in Laser operation, I have a series of Tools (Lasers) at different feed rates, having the ability to alter the S___ value on the fly for all the "T1,T2,T3,etc" would be a benefit, at present my POST can only specifie a single S___ value. This is hard wired into the POST, but wit

[2016-10-07 02:41] splitn2 opened #497 "Is UGS Platform 2.0 considered as reliable as 2.0 Classic ?"
Hi, I'm just wondering whats your recommendation , is 2.0 Platform pretty reliable, I am building a machine with a mate a wee router. Should we be brave and use Platform or be conservative and use Classic 2.0 ? I know its really up to use to decide but your guidance on this is appreciated. Cheers and thanks for all your great work.

[2016-10-07 02:53] jahnj0584 commented on #497
Use the platform

On Oct 6, 2016 11:41 PM, "Richard Harcourt" <notifications@github.com>
wrote:

[2016-10-07 13:05] winder commented on #497
The differences are mainly cosmetic. The platform literally uses the UGS Classic as a library, so all the machine communication code is identical.

[2016-10-07 13:05] #497 closed

[2016-10-08 07:09] smooker commented on #122
I got around this by tweaking nice-ness of the process by:
/usr/bin/nice -n 19 /usr/bin/ionice -c2 -n7 cnc.ugcs

[2016-10-08 12:16] vMeph opened #498 "tool change question"
i would like to know how you guys do  tool changes
from what i see to do  tool changes i would put a M00 on the part of the code that i want to change my tool, but i notice that when the  program stops the motors  will stay with out tension so that means that any  litle move and you will move the plate off the current position,is there any way to make it motors be with tension when you do the tool

[2016-10-08 12:24] jahnj0584 commented on #498
$1=255 will send constant power

You can also just rehome after the change. I use seperate files per tool.

On Oct 8, 2016 9:16 AM, "Meph" <notifications@github.com> wrote:

[2016-10-08 12:38] Encarnacao commented on #498
so i would do homing after change tool and then just unpause and goes to where it was?
do you use the $1=255?
i knew that you could use the $1=255 but i dont want to be in constant power motors, imagen i have to go somewhere and forgot machine open then motors would be in constant power, wouldnt be a good idea

[2016-10-08 12:54] jahnj0584 commented on #498
The home recalibrates the machine in case you move it.

That's fine.... The motors don't burn out or have an hourly life span to
them. You could add $1=25 to the end of your file if your so worried.

On Oct 8, 2016 9:39 AM, "Meph" <notifications@github.com> wrote:

[2016-10-08 13:57] Encarnacao opened #499 "UGS platform error"
i dont know what i did but  now every time i send a file when i hit start tells me
"An error was detected while sending 1Z:error: Expected command letter.STreaming has been paused.
Would you like to skip commands like this in future?"
if i say ignore then comes
"An error was detected while sending G X7.52 Y17.81 error: Bad number format.STreaming has been paused."
Would you like to skip commands l

[2016-10-08 15:11] Encarnacao commented on #499
ups i figuer out was on the list of ignore

[2016-10-09 16:33] Encarnacao commented on #498
@jahnj0584   so in tool change you sayed i could re home after tool change and then  hit resume?
i have tryed make a M00 in where i want to stop to make the tool change, so how then i can send home, i have tryed add the on code $H after the M00 so when i hit resume wold send it home, but off course doesnt work is there any other code to do this?

[2016-10-09 20:08] splitn2 commented on #497
thanks for the advice guys. I think I have a dud Mega it kind of locks up, now I have tried with with both USG platform and classic  and also bCNC I am getting similar problems. cheers

[2016-10-09 22:23] jahnj0584 commented on #497
Did you send $X?

On Oct 9, 2016 5:08 PM, "Richard Harcourt" <notifications@github.com> wrote:

[2016-10-10 01:05] splitn2 commented on #497
I'll have a closer look tonight..... thanks @jahnj0584

[2016-10-11 18:21] jahnj0584 opened #500 "File duration information"
Would it be possible to add things such as:

Run time for last time file was sent (as in saving it within the gcode or into the title)

Run time saved after file is sent (i charge for jobs but the timer resets itself sometimes before i can check it - leave time until new file is loaded, or a console message such as ***Finished sending testfile.nc in 10:36***)

Total run time: tally how long the ma

[2016-10-11 18:23] jahnj0584 opened #501 "Work 0 resetting after job cancel"
If you stop or soft reset the machine it resets your work offsets to some old value.... I've broken a bit or two from this already! I caught it a few times now, I'd be at Z0 but if i did a soft reset or a stopped a file itd change to some other value.

[2016-10-12 12:20] winder commented on #501
Do you use G92? If yes you might want to try G54-G59 instead which is saved across machine resets.

[2016-10-12 12:30] jahnj0584 commented on #501
How does that work? Instead of hitting reset or using my probe command I change it to g54?

[2016-10-12 12:34] winder commented on #501
The best documentation I've found is on the [shapeoko wiki](http://www.shapeoko.com/wiki/index.php/G-Code#Using_the_Work_Coordinate_Systems).

Basically after a probe you would do something like `G10 P1 L20 X0 Y0 Z<probe thickness>`.
The P parameter chooses which coordinate G54-G59 to update and that location is saved in the arduino.

[2016-10-12 12:36] #499 closed

[2016-10-12 12:37] #492 closed

[2016-10-12 13:04] jahnj0584 commented on #501
oh that is clever. Ive been slowly adding more fixtures for repeat jobs to instead of going to my hard limits, then jogging over to their written coords I could just keep them as an offset. Any way we could make them easier to use in UGS? Maybe 2 buttons per G5X (like macro, only show used+1 option) which would be Set G54 and Go To G54?

[2016-10-12 13:30] winder commented on #492
I think this is resolved now, it was just a UI issue, couldn't have harmed your Arduino.

[2016-10-12 13:52] #500 closed

[2016-10-12 13:53] winder commented on #500
All set, the finished sending message: `**** Finished sending file in 12:34:56 ****`

[2016-10-12 13:58] jahnj0584 commented on #500
I JUST opened the version from the last hour. Time to redownload :P thanks a bunch for the super fast turnaround

[2016-10-12 15:02] jahnj0584 opened #502 "Feed override"
Sonny just said 1.1 will probably be released tonight so was wondering how long we'll have to wait for the feed over ride and current feed rate settings to be released as well. I know he sent out 1.0 early to the devs.

[2016-10-12 15:34] chamnit commented on #502
@jahnj0584 : Grbl v1.1 overrides works with UGS platform. There is a menu item you have to enable to view the controls.

[2016-10-13 13:59] winder commented on #502
@jahnj0584 They're already in the platform (the prototype has been in since march I think). The interface could probably be tweaked a little, but it's working.

<img width="344" alt="overrides" src="https://cloud.githubusercontent.com/assets/125509/19351937/b5e2e49c-912b-11e6-827d-1f8d28b783bb.png">

[2016-10-13 13:59] #502 closed

[2016-10-13 23:04] jahnj0584 commented on #502
My panel on windows isn't like that. I have the -- - reset + ++ for each and no numbers alongside

[2016-10-13 23:22] jahnj0584 opened #503 "Over ride over applies"
Lets say your max speed is 600, and the program is at 500. If I apply +20%, it'll max out. I can still click through, adding up to +100% (1000 total) but the machine will still move 600. The issue is, when you go to lower the value there is no real world speed effect until you are again at 20% or lower (so 8-80 clicks of no effect and potential damage). Not sure how you can limit this, but it's so

[2016-10-13 23:46] chamnit commented on #503
@jahnj0584 : This should be a Grbl issue, rather than a UGS. True that 600 would be maxed out at 120%, but other moves may be programmed to be less than 500. For example, if at 400mm/min, then a 150% override would max it out. You also have to consider that a 600 max is not 600, when you move in diagonal directions. This can be up to 1.414 times that if the other axis is also 600.

For most usage

[2016-10-13 23:46] winder commented on #503
@jahnj0584 I'm not sure there's anything a GUI can do about this. You can imagine that in the same program you might have some parts where the feed is much lower. For instance a Z plunge could still see effect at 200% even if you're straight cuts already maxed out at 120%.

A better solution would probably be for me to finish updating the status messages to display the current feed rate, so that y

[2016-10-14 01:17] jahnj0584 commented on #503
I xposted the issue, so up to you which one of you wants to figure it out.

Maybe I machine funny, but I have a max rapid of 4200mm, and often am cutting at 3700 or so. I'll be using over ride to see if I can actually cut full pace and maintain accuracy and square-ness. UGS has a separate FOR for rapids/spindle/feeds so that also shouldnt be an issue. Im not sure what the solution is really, besid

[2016-10-14 02:02] jahnj0584 opened #504 "Potential GUI Idea"
Just messing around. Puts everything on one screen without tabs, but even bigger buttons then currently so should be easier to use on tablets or low res screens. Lemme know what you think, and if this is a possibility.

My Ideas - left to right:
Feed rate could be a drop down menu to select rapids/spindle/feeds.
On/off quick toggle of over rides
Units/mm would be what the machine is running at (co

[2016-10-14 02:20] #503 closed

[2016-10-14 02:41] DOUG888 commented on #504
I like the Idea, one screen with all the info displayed is better than jumping into tabs to find the info, luv the bigger buttons, can’t remember all the times I have clicked stop instead of pause, but don’t forget the Macros, there could be a lot of those dependant on the end user, I currently have 6 but most likely more will come as I learn more myself.

From: Julius [mailto:notifications@github

[2016-10-14 19:31] Encarnacao opened #505 "UGS platform problem?"
hi when i put  command $ it doesnt show parameter and outputs this

ok
Skipping command #4

when i go to controler options i dont see on ignore list nothing

is there any problem with it or  iam missing something?

[2016-10-14 19:32] winder commented on #505
I noticed this last night, something odd is happening that I haven't figured out yet.

[2016-10-14 19:56] Encarnacao commented on #505
i have update my grbl for version 1.1 today but it has nothing to do with it,  cause i have notice this problem for awhile.

[2016-10-14 23:58] jahnj0584 opened #506 "Workflow helper suggestions"
Finally used it properly today! Works wonders for when I have to cut multiple items out of the same material (1/2" MDF for example)

1) sometimes can't add files while one is being sent

2) simply opening a file adds it to the manager. These two commands should be seperate entities

3) would it be possible to add a macro between each file? Itd be nice if I could make the spindle go to machine Z0 a

[2016-10-15 00:01] jahnj0584 commented on #506
5)can't add/remove any of headers. The tool path one just says default and takes up space

6) file location. Should show the file name instead, because now it's only C: /Users/... And doesn't help identify the program

[2016-10-15 04:54] Werwolfx opened #507 "Translation to Russian problem"
When I switched on the Russian language, all menu items are gone and can not be switched back to English
Where are the Setup? I use Linux Mint x64

[2016-10-15 04:59] Werwolfx commented on #507
I found MessagesBundle_ru_RU.properties contains many blank lines, I now understand why the menu is not displayed after the switch. I know Russian language, and I can help you to translate into Russian. You need this help?

[2016-10-15 05:07] jahnj0584 commented on #507
Yes he does. Will can link you to the webpage when he's on next

On Oct 15, 2016 2:00 AM, "Werwolfx" <notifications@github.com> wrote:

[2016-10-15 05:24] jahnj0584 opened #508 "Grbl 1.1 name additions"
The $$ results are nameless now. Can you add back the identification tabs for each value, or maybe a chart style tab/window you can add as a plug in to edit and see all the values? I think grbl panel has that system in place

[2016-10-15 14:48] winder commented on #504
One of the main drivers towards using a GUI framework like netbeans was to avoid the "one-size-fits-all" design. You can move the windows around however you like. Most of the tabs are designed to be standalone widgets that you can mix and match for this reason. It also makes it much easier to add new widgets, since they don't have to be permanently embedded into the existing UI.

In that spirit I'

[2016-10-15 15:28] jahnj0584 commented on #504
I kind of expected that answer. What works for me definitely won't work so well for someone who cuts differently. I really hate the mach3 UI as it's over crowded and has unnecessary parts.

 I think if anything, you should seperate every module and have it be an option to join them (say, jog controller with machine coords or macros+common actions) so they can be moved together.

Here is the closes

[2016-10-15 15:45] #505 closed

[2016-10-15 15:45] winder commented on #505
Thanks, found two display problems while fixing this.

[2016-10-15 21:14] #508 closed

[2016-10-15 21:18] winder commented on #508
All set, this was from a GRBL change to save program space.
I'm using the [data file here](https://github.com/gnea/grbl/tree/edge/doc/csv) which actually has longer descriptions than the original:
[code]

[2016-10-15 21:19] winder commented on #508
As for a settings editor... there actually is one in the classic GUI. I've been meaning to bring it to the platform for ages.

[2016-10-15 21:20] winder commented on #508
I still need to do this for error codes and alarm codes, which no longer return a description.

[2016-10-15 21:37] Encarnacao commented on #508
Awsome job
@winder off the topic  is it possible that when files off gcode is sending would tell the N line numbers
not sure if would be possible and if would be a good idea?

[2016-10-15 21:42] winder commented on #507
@Werwolfx Localization is managed here: https://poeditor.com/join/project/2J2hB5I41Z

Someone started working on it fairly recently but never finished. Thanks for the offer!

[2016-10-15 21:52] vMeph opened #509 "Visualize table view"
For exemple my settings for my machine are 432 by 338 in size of my table max travel
on the visualize i see that max travel is 11 by 11 on design table squares, is it possible that the table side would be updated in size of the specifications that we set in grbl settings.
$130=432.000 (x max travel, mm)
$131=338.000 (y max travel, mm)
or that we could specify the table size?
for when we want to mo

[2016-10-15 22:19] jahnj0584 commented on #509
Are you using homing switches?

On Oct 15, 2016 6:52 PM, "Meph1" <notifications@github.com> wrote:

[2016-10-15 22:23] jahnj0584 commented on #508
Hmmm. That data file looks awefully busy when you're just trying to look for one setting to change. Maybe make that in the help menu, and use the old "names" from 0.9 like (X axis - steps/mm) and nothing more.

Please do, and let me know when to test it out :). I'm 100% set on the platform from here on out.

I think he means to show what the last line sent was? This basically falls under rows sent

[2016-10-15 23:27] DOUG888 commented on #504
Hi Guys..
After reading your posts I have found how to move , resize, float etc the individual windows....but, when i dock them they do not stay in the same place or size that i had set, what's the trick???   ;-)
Doug

[2016-10-15 23:40] jahnj0584 commented on #504
You drag the title bar, without popping them out. Like where it says
console, drag the actual word tab and the orange square shows where itll be

On Oct 15, 2016 8:27 PM, "DOUG888" <notifications@github.com> wrote:

[2016-10-15 23:46] DOUG888 commented on #504
Will, your comment

In JOG, I think if you moved the XYZ buttons to the RH of the STEP Size box you would have the same minimum width as the OVERRIDE UI, then you could blend the two together vertically, then they could be compressed vertically to MIN height, this would create more space in that column for other UI, etc, etc.

[2016-10-16 00:36] DOUG888 commented on #504
OK, got that to work, thanks.

Have run out of vertical room in my LH column, even with all the UI pushed up to minimum, I hope Will modifies the JOG UI as suggested as it will give more vertical available space.

From: Julius [mailto:notifications@github.com]
Sent: Sunday, 16 October 2016 10:40 AM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Comment
Subject: Re: [winder/Universal-G-Code-Sender

[2016-10-16 00:42] jahnj0584 commented on #504
You can also just use keyboard commands to jog, such as ctrl+arrow keys and
place it wherever. I have no issue with space

On Oct 15, 2016 9:36 PM, "DOUG888" <notifications@github.com> wrote:

[2016-10-16 01:05] DOUG888 commented on #504
Yep, got the movement working, as you described but still out of space LH column,, I think I am trying to get too much in and am exceeding the available vertical space.

I have used the “SIZE GROUP” on each of the UI, if I understand this command correctly, it reduces the UI to its designated Minimum, in this case vertically, horizontal would be set by the “Speed Overrides” UI which is the widest.

[2016-10-16 02:07] DOUG888 commented on #504
Preamble: I did a lot of programming in Visual Basic for many companies i worked for and became proficient in Maximizing available space without cluttering thinks up, so these are graphical, space optimizing suggestions, not criticisms, please take them as such.

Ok..have been experimenting with relocating the UI, here are some suggestions that may be useful:-

firstly the "Speed Overrides" UI app

[2016-10-16 02:19] jahnj0584 commented on #504
I also think the coord widget should be more like GRBLPanel/mach,with
machine being a smaller number. It's only used for setting offsets or jigs.

Step size could go in the center of the Y/X jog buttons! And the units
could be a selection under the Z buttons or hidden in settings. I don't
like mixing up my units and only run metric.

On Oct 15, 2016 11:07 PM, "DOUG888" <notifications@github.com> w

[2016-10-16 02:30] Encarnacao commented on #509
yes

[2016-10-16 02:39] DOUG888 commented on #504
Yes, Unit selection in Controller Options makes good sense, typically it’s a set and forget,  Step Size tucked in the middle of XY jog could work, worth a try.

From: Julius [mailto:notifications@github.com]
Sent: Sunday, 16 October 2016 1:20 PM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Comment
Subject: Re: [winder/Universal-G-Code-Sender] Potential GUI Idea (#504)

I also think the coord wi

[2016-10-16 21:45] DOUG888 commented on #504
Will
Just loaded latest UGS platform...the width of the "Speed Override" has been reduced and reconfigured, but the other suggestions from Jahn and myself should still be Viable.

[2016-10-19 23:12] Encarnacao opened #510 "$$ Output cosmetics"
i dont know but seems that the way is set the output of the command $$ of the grbl settings is a litle to mutch on screen

$0=10 (microseconds, Step pulse time: Sets time length per step. Minimum 3usec.)

 like was before looks better, the information is great no daut but maybe you could set in help files the information detailed and leave on the output has was before

 on screen like was before l

[2016-10-21 10:49] ufraa opened #511 "visualizer problem"
Hi all,
i have a problem with visualizer. in the config menu all items in the list are disappeared and set to the same color, i can change them but when i press apply it resets to the previous color. if i change the last item color and press apply it sets the color for all the items
![cattura](https://cloud.githubusercontent.com/assets/6683704/19595978/b3d2d09c-978c-11e6-9784-e9d081feb723.PNG)
![c

[2016-10-21 20:28] maudette01432 opened #512 "Having issues with GRBL1.1 and sender with laser"
I'm having an issue with UGS latest nightly build when sending to GRBL 1.1d on a laser it seems to send the moves and spindle speed separately with the spindle speed as the second command.  What this results in I belive is that the laser is not turned on/off at the proper times.  I have pieces that get cut that shouldn't and pieces that don't get cut that should.  Same GCODE works with GRBL 0.9 an

[2016-10-21 20:44] maudette01432 commented on #512
I have confirmed that this is in fact caused by the splitting of commands in the newest latest branch of UGS.  Same GCODE...Same Firmware...Same Machine.

"NEW" is the cut from sending with the latest nightly build of the GCODE attached above to a GRBL board running Grbl J-Tech Photonics 0.9g J Tech

Old was the same gocde file sent to the same board using the old Java based Universal Gcode Sender

[2016-10-21 21:00] winder commented on #512
Thanks for the report, nice detective work figuring out the root cause! The command splitter has been modified to avoid splitting the S code into its own line. Could you give the nightly build another try and let me know if that fixes the problem?

Glad you like the new UI. :)

[2016-10-21 21:00] maudette01432 commented on #512
Wow that was fast...I'll give it a poke right now!

[2016-10-21 21:06] maudette01432 commented on #512
And - EPIC...Confirmed it is working.  Now to load GRBL 1.1d back on and finish what I started!

[2016-10-21 21:06] #512 closed

[2016-10-21 22:00] vMeph opened #513 "UGS Platform tabs organization"
would it be possible to add extra tabs to this area sense theres alot empty space there for a better organization, i wanted to  put there the browser files for exemple for better visualization  but it dont allows to do it

![pp](https://cloud.githubusercontent.com/assets/12812111/19612983/abae2538-97e1-11e6-97e9-72495d644556.png)

[2016-10-21 22:03] Encarnacao commented on #511
no clue what could be did u try maybe delete temp files and reinstall to see if fixes?

[2016-10-21 23:04] winder commented on #513
Yes, the content of the top bar is totally customizable. Right now the contents are in two widgets but many more could be added. Also just like the panels these can be enabled/disabled and moved around.

[2016-10-21 23:55] Encarnacao commented on #513
so for what i understand they are in seperate widgets so how can i move the  " file browser " to the top?
it dont let me , and i dont see where is enable or disable option

[2016-10-22 01:41] winder commented on #513
When I said many more could be added I meant that I could create more of them. Right now there are just two.

[2016-10-22 02:29] winder commented on #511
Very strange. My guess is that somehow the configuration files were corrupted and things are crashing when they try to load/use them.

In the about menu it tells you the location of the **Cache directory** and **User directory**. Try deleting those directories.

[2016-10-22 03:11] #510 closed

[2016-10-22 03:13] winder commented on #510
I agree, switched it back.

<img width="379" alt="settings" src="https://cloud.githubusercontent.com/assets/125509/19616549/0124747a-97e4-11e6-8e79-5fa6b5a4f86d.png">

[2016-10-22 10:50] Encarnacao commented on #513
thanks :)

[2016-10-22 22:44] jglazer63 opened #515 "Java.lang.integer cannot be cast to java.lang.Double"
I just installed 2.0, connected to my machine (opened the port) and hit "X+" and got the above error.  It happens on X+, X-, Y+, Y-, Z+, Z-.  Pretty much cannot jog the spindle at all.  How did this get past testing and to release?

[2016-10-22 23:55] #515 closed

[2016-10-23 00:01] winder commented on #515
Thanks for the report. The nightly build is released automatically on every commit, sometimes small issue like this sneak through since the unit tests don't cover the UI and most manual testing is focused on the platform UI.

[2016-10-23 19:53] jglazer63 commented on #515
Thanks for the quick response.  I'll get the latest and try again later today.

[2016-10-24 01:30] DOUG888 opened #517 "Workflow Event Box opens on Jog"
Now running GRBL 1.1 and latest working "Nightly Build" Platform.

When i move around with Jog I get the workflow event "finished sending last file" popup appearing at each jog, this could be annoying ,to say the least  :-)
particularly if you are doing small repeated jogs.

This same box also appears when any of the "Common Action" buttons are pressed and also the "Macro" buttons.

can this be re

[2016-10-25 18:23] jahnj0584 commented on #513
yea, that whole tab/bar is "locked" for me.

On Fri, Oct 21, 2016 at 8:55 PM, Meph1 <notifications@github.com> wrote:

[2016-10-25 18:25] jahnj0584 commented on #513
The send buttons also should be seperate and larger. I like the idea of
adding the open bar there

On Oct 21, 2016 7:00 PM, "Meph1" <notifications@github.com> wrote:

[2016-10-25 18:54] jahnj0584 commented on #510
Thanks

On Oct 22, 2016 12:14 AM, "Will Winder" <notifications@github.com> wrote:

[2016-10-25 22:14] Encarnacao opened #518 "UGS platform help understanding"
Im a litle confused
1st when i star machine if i remove alarm $X all button areas of comands become grey cant acess unless i go to jog and first to a move(didnt use to be like this as i remeber)

2st im a litle confused about this part
so i turn machine on and i send $H to go home and i get:
work position    machine position
X 5                          X 0
Y 5                          Y 0
Z 5

[2016-10-26 01:36] hayttle commented on #350
I am using UGS 1.0.9 and same error.

[2016-10-26 13:45] Encarnacao commented on #518
Is fixedto normal i had to $RSR=$ the machine, i still dont know what setting i have put by mistake to make machine behave like that

[2016-10-26 15:39] PetriNogueira commented on #350
Hi!
I'm not solve this problem until now.
I change to bCNC. Best software! Amazing!

Now, Gcode Sender just to configure gbrl because it's more easy.

Enviado pelo meu dispositivo Windows Phone
________________________________
De: Hayttle Soljnivisk<mailto:notifications@github.com>
Enviada em: ‎25/‎10/‎2016 23:37
Para: winder/Universal-G-Code-Sender<mailto:Universal-G-Code-Sender@noreply.github.co

[2016-10-26 19:31] victorhantelmann opened #519 "Not issue but idea ... hmmm"
Ideea starts with using some Arduino Nano that have GRBL firmware and TX/RX pins 0 & 1 tied to use RS232 to one unique Nano that by using SoftwareSerial Library can manage up to 3 connections.

No mod is needed for GRBL software because 0 & 1 are hardwired to USB (USB is not going to be used here) the default serial is going to be used to some MAX 232 equivalents.

To handle synchronous movement o

[2016-10-26 19:39] Radiu opened #520 "Auto leveling on UGS platform"
for a long time i hear that people would love to have UGS with auto level option
this could make UGS more atractive and bring more people into comunity, alot people does pcbs using eagle cad and ends up moving into other programs that alows you to have other options like(chilipepper,bCNC)
Winder has been doing a great job on UGS platform it have grown alot in terms of visual etc.. however it needs

[2016-10-26 19:46] winder commented on #519
Sounds like a neat project. Hopefully we'll get more than 3 axis control out of GRBL once Sonny starts the successor to the GRBL-Arduino.

For now, UGS could be extended to support custom commands for a controller like this. You can see some of the extension points described here:
http://winder.github.io/ugs_website/dev/backend_development/

[2016-10-26 19:47] Encarnacao commented on #520
no idea when this would be implmented, but for sure that would give UGS a new edge
chilipeper idea is a great thing, specialy with the eagle brb files import
i myself also looking foward for this implemetation to happen in UGS platform

[2016-10-26 20:09] winder commented on #520
Auto leveling is something I've been working towards for a long time. In addition to the platform being a way to add features like this to the GUI, there are a lot of changes under the hood to make processing gcode better and more configurable. Once UGS platform is cleaned up for a proper release I want to work on things like this.

Someday I'll get to auto leveling. #267

[2016-10-27 06:38] victorhantelmann commented on #519
Thank you for the info, I will start learning. Communicator and Listener look promissing... I intend to keep GRBL on Nano because for anyone this is the cheapest most affordable arduino. I worked on many other uC PCB's much more capabile

[2016-10-27 06:40] victorhantelmann commented on #519
capable* and expensive, but "keep it simple" concept :)

[2016-10-27 07:38] victorhantelmann commented on #519
Sorry, I was on my smartphone when I made the previous comments and I got a call that interfered with my writing ...

Anyway, I have only one more question about the place of this project.

I intend to make it all available on git as soon as I have the foundation for the master's serial tested.

What is advisable? I use and please consider following mapping:
UGS                         GRBL
MASTER

[2016-10-27 15:45] jahnj0584 commented on #520
If chillipeppr is open source can Will not just use the source code and add
it as a widget to UGS? A lot of the wood and metal guys have no need to
auto level

On Oct 26, 2016 4:47 PM, "Meph1" <notifications@github.com> wrote:

[2016-10-27 15:55] Encarnacao commented on #520
if that would be possible would be a great idea !!!!
@winder any toughts how to make it happen?

[2016-10-28 10:49] Encarnacao opened #521 "UGS platform #670 update"
![k](https://cloud.githubusercontent.com/assets/12812111/19804126/5087ed38-9d04-11e6-9b13-194dc4b56fcb.png)

where is the buttons to conect machine and port choise?

[2016-10-28 12:33] winder commented on #521
Oops sorry about that. The little red circle in the bottom right has the error message, but I was able to reproduce the issue as well.

The worst part is that the feature I was adding didn't even work that well:
<img width="262" alt="screen shot 2016-10-28 at 8 29 06 am" src="https://cloud.githubusercontent.com/assets/125509/19806466/237dfd7a-9ce9-11e6-8a8b-7fa64426a0de.png">

Also new buttons you

[2016-10-28 13:21] Encarnacao commented on #521
thanks for the fast update, if you dont forget if would be possible to be possible to add the other widget panel to that widget on top like for exemple"files browser"
that would rox

[2016-10-28 20:10] winder commented on #520
The actual logic to do this is fairly simple, it's a matter of generating a height map and shifting each Z movement to align with that height map (there are some nuances to this, but UGS already has the ability to split things like arcs into line segments). So the only challenge left is integrating with the system, which is completely different in these different senders. A lot of the work I've do

[2016-10-28 20:10] #520 closed

[2016-10-28 21:14] DOUG888 commented on #517
Now running GRBL 1.1d and UGS platform #671....same issues as above.

[2016-10-28 21:15] #521 closed

[2016-10-28 21:24] vMeph opened #522 "common actions widget"
the new versions of the UGS platforms now have when you connect machine you press for exemple $X comand on common actions widget to unlock and then you cant acess that widget any more unless i go to jog widget and make machine do some movement and only then you can acess common actions widget, this can be bery annoying, didnt use to be like this, is this a bug?

[2016-10-28 21:39] winder commented on #522
Thanks, I'll take a look. There are a couple issues related to this I've been thinking about. I used to track the state by saying `If you press the send button the machine is sending`, but have been moving towards using `grbl state = running, so the machine is sending`. There are some weird cases when these two modes interact that I need to fix.

[2016-10-28 21:42] #518 closed

[2016-10-28 21:44] winder commented on #517
@DOUG888 this is on my radar. My test arduino blew up on monday and I'm still waiting on the replacement. You can see an explanation I posted on #522

[2016-10-28 21:44] winder commented on #511
@ufraa were you able to try removing the cache and user directories?

[2016-10-28 21:45] #507 closed

[2016-10-29 01:37] DOUG888 commented on #517
Ouch!!!  All good Will..new you would get to it ...hope the replacement gets to you soon.
Also..while the test bed is down...I had 2 other issues up, one you asked me to put s a reminder to you..that was on the COM port auto reconnect..I think that is OK, you might want to delete it.

[2016-10-29 09:19] ufraa commented on #511
Yes. The problem was one of the file and the italian localization
Thank you so much

Il 28 ott 2016 11:44 PM, "Will Winder" <notifications@github.com> ha
scritto:

[2016-10-30 16:57] #517 closed

[2016-11-01 15:28] vMeph opened #523 "$X"
will it be any update on the way $X works?
dont know why when u start machine and you unlock alarm($X)
i cant acess comand actions panel or eaven send file to start, unless i go to jog controler and make machine to make a movement and then i got acess to the panels
dont know if this is a bug or if this is the way its going to be, at least i dont see no sense in this way of working, the way it was

[2016-11-01 18:32] winder commented on #523
Duplicate of #522

[2016-11-01 18:32] #523 closed

[2016-11-01 18:33] winder commented on #522
@vMeph I'm almost finished with this, hoping to get it finished in the next day or two.

[2016-11-01 18:35] vMeph commented on #522
awsome great news mate:)

[2016-11-01 20:56] jobongo opened #524 "Serial UnsatisfiedLinkError(Missing Dependencies ???)"
I'm trying to install the UGS Platform on a arm based board(Pine 64 running Debian Mate) and keep running into and issue with jssc. I have installed the platform on RPi 3 and it works (somewhat, the visualizer doesn't has issues). On the Pine64 I get the following error

`java.lang.UnsatisfiedLinkError: jssc.SerialNativeInterface.openPort(Ljava/lang/String;Z)J
	at jssc.SerialNativeInterface.openPo

[2016-11-01 21:06] winder commented on #524
It sounds like the libraries I'm using for Serial (jssc) and OpenGL (jogl)
don't support your hardware, at least not in the way I'm using them.

Does the arduino IDE (which also uses jssc) connect to your arduino?

On Tuesday, November 1, 2016, jobongo <notifications@github.com> wrote:

[2016-11-01 21:30] jobongo commented on #524
Arduino connects and I can send GRBL commands just fine. It seems that UGS creates a lock file for the TTYACM0 because I get the error that a lock file already exists....

[2016-11-01 21:50] winder commented on #524
What version of UGS are you using? If you aren't already, could you try the
nightly build?

On Tuesday, November 1, 2016, jobongo <notifications@github.com> wrote:

[2016-11-01 22:56] #522 closed

[2016-11-01 23:13] vMeph commented on #522
just tested the commit you did and still same you press $X and you blocked untill you go jog something
sorry.
Winder sorry for the question but in commits you have a dot green but somethimes is red, red means failure but in reality what realy fails?does that mean not a good version to download?

[2016-11-01 23:14] winder commented on #522
@vMeph you're right, I didn't notice the red x above until right after pushing the change. I just fixed the test that was failing, you should be able to download the updated build now.

[2016-11-01 23:19] jobongo commented on #524
I am using version 2.0. To be honest I haven't tried the previous versions (0.9, 0.8, etc). I have tried the nightly builds of v2.0 and the stable version (I assume it is the stable version). Both give me the same error. I like the look and design of v2.0. I will try the latest nightly that was just posted.

[2016-11-01 23:20] vMeph commented on #522
@winder ok just have tested really all seems good now.
just to let you know spindle,flood and mist buttons are in red squares not sure if is supose to be like that.
thanks alot for the fast fix, awsome job mate 👍

[2016-11-01 23:31] vMeph commented on #522
@winder 1 more question do you think that if would be a good idea and if possible that jog controlls keep the last settings you have chose like the mm steps and the feed rate?
that way there wouldnd be no need to change all the time.
dont know if feed or steps makes sense but for sure the mm or inch would make sense, i personaly always use mm and have to go there change all time sense it starts wi

[2016-11-02 02:03] DOUG888 opened #525 "Editor functions question"
UGS Platform #676
Just found the Edit functions....Great start...will you be activating the "FIND" function soon as it is currently Greyed out, also as thing progress, "REPLACE ALL" would be a great help.
The rest runs OK so far..

Thanks for the effort
Doug

[2016-11-03 13:03] jobongo commented on #524
I think I have found a possible cause. The Pine64 CPU architecture is arm64 while the RPi is ARM-HF. In the jssc SerialNativeInterface class, it doesn't check for arm64 architecture, only armhf and armsf (soft-float and hard-float) and  or x86/64 then loads the correct shared object (.so) (I know very little Java, but from what I can see, this is what happens).

I found a version of JSSC that supp

[2016-11-03 13:20] winder commented on #524
Where did you find a version of JSSC for arm64? If there's a build with wider platform support people are using I should switch to it.

The problem with these libraries is that the java environment doesn't have built in libraries, so they need to bundle in some native code. So you need to replace the class files AND add in the native binaries. If you open up the jar (they are zip files), you can a

[2016-11-03 13:44] jobongo commented on #524
I found the deb package for jssc arm64 at [https://launchpad.net/ubuntu/+source/jssc/2.8.0-1/+build/9880902](url).

I have tried updating the class files and the libraries like you mentioned, but I get the same error. Even when I delete the jssc.jar, I get the same error. This makes me think that I am looking in the wrong place.

[2016-11-03 15:58] jobongo commented on #524
I found that it does use that jar. When UGS opens, it creates the .ugs and .ugsplatform directories in the home directory. There must be some cache file there that defines the previous state. When I clear those directories, I get an undefinedclasserror, different from the one above.

I can't find the source for the deb file that includes the arm64 architecture. I gonna see if I can modify the Seri

[2016-11-04 15:47] vMeph opened #526 "UGS inicialize"
@winder when inicializing UGS platform you get folowing output from grbl settings, just wondering why in midle of settings after $25 shows line >>> $G any particular reason or just normal?
`Grbl 1.1d ['$' for help]

$0 = 10    (Step pulse time, microseconds)
$1 = 25    (Step idle delay, milliseconds)
$2 = 0    (Step pulse invert, mask)
$3 = 0    (Step direction invert, mask)
$4 = 0    (Invert step

[2016-11-04 16:39] winder commented on #526
When UGS starts up it sends 3 commands to GRBL used to initialize GUI behaviors: `RESET (CTRL-X)`, `$$`, and `$G`.

In this case GRBL has already started responding to the `$$` before UGS managed to send out `$G` so you see the responses mixed up a little. Nothing to worry about!

[2016-11-04 16:39] #526 closed

[2016-11-04 16:54] vMeph commented on #526
@winder couldnt initialize GUI behaviors order be  RESET (CTRL-X), $G. and $$ ?

apreciate the explanation :)
thanks

[2016-11-04 21:56] winder commented on #525
The editor is pretty much out the Netbeans editor out of the box. There are a bunch of extension points for things like syntax highlighting, syntax checking, break points, sections (motion groups separated by rapid motions), etc. It's a rabbit hole that I'm not ready to go down yet.

For now I disabled most of the advanced components because enabling them clutter up the top menu with dozens of edi

[2016-11-05 21:25] DOUG888 commented on #525
Thanks Will...you can close this if you want

[2016-11-05 21:25] #525 closed

[2016-11-06 02:31] jobongo commented on #524
I managed to resolve the issue. I used the shared object from the deb package (libjssc-2.8.so) before and copied it in the `/usr/lib/jni/` directory. Then I just replaced the original `SerialNativeInterface` class located in `ugsplatform/modules/ext/com.willwinder.ugs-platform-ugslib/org-scream3r/` with the one in the deb package. Cleared the ugs* hidden files in the home directory and I am now ab

[2016-11-06 02:41] #524 closed

[2016-11-06 13:57] winder commented on #513
Added the file browser:
<img width="1127" alt="screen shot 2016-11-06 at 8 56 11 am" src="https://cloud.githubusercontent.com/assets/125509/20038294/eb7cee50-a3fe-11e6-83be-b9ac0d9c0c5d.png">

[2016-11-06 13:57] #513 closed

[2016-11-06 15:09] vMeph commented on #513
Not home ill test later, thanks alot Will😁

[2016-11-06 17:10] vMeph commented on #513
@winder  #678 shows has failed

[2016-11-10 11:09] SadovovAlex commented on #507
HI

i translated to Russian lang 100%

https://poeditor.com/projects/po_edit?id_language=134&id=52743

Please see it

[2016-11-10 11:14] winder commented on #507
@SadovovAlex Thanks! There were a couple terms I added recently and forgot to import to poeditor. Could you update those last terms? I'll get them into the project later this morning

[2016-11-10 13:19] winder commented on #511
@ufraa this seems to have something to do with localization, I'm not quite sure why though.

For now if you would like to contribute Italian translations, that should prevent the issue from happening for now. You can join the localization team here: https://poeditor.com/join/project/2J2hB5I41Z

[2016-11-10 15:46] vMeph commented on #509
@winder any toughts about make this happening, maybe set on the options/controller options like you did for feed speed scaler edit, maybe do a table view space edit, and we could set the table size acording to machine size that would change the size of our table view, not sure how would then be able to see the  squares table divide,not sure how other fells about this option, but in my opinion coul

[2016-11-10 15:58] winder commented on #509
@vMeph this isn't very high on my priorities, I left it open as a suggestion because I like the idea. I want to finish up 2.0 for an initial release (pretty close now), then work on some more advanced features like auto leveling and tool change scripts.

[2016-11-10 16:55] vMeph commented on #509
Awsome , cant wait for auto leveling feature to come out hehe 👍

[2016-11-11 09:52] supagu opened #527 "2.0 bug, return home from canceled job needs to lift z-axis before moving!"
just noticed this nasty one.
if you are doing a cut, and you cancel it. Then hit return home it doesnt lift the zaxis up until it gets into the home position. If the machine is not turned on this could break the bit!
It should first lift the z-asis, then procede to move x/y axis

[2016-11-11 09:54] supagu commented on #428
it would be good to have a percentage/time till completion, elapsed also.

[2016-11-11 10:06] supagu opened #528 "suggestion - on the fly speed adjustment"
it would be great if when paused one could adjust the speed setting. This would be great for when youve not setup correctly for your material, you could pause it and tweak it, then resume and the lower speed.

[2016-11-11 10:11] vMeph commented on #527
i just have test and all works fine if doing a job and you hit stop and then send home ($H) z axix move first and then goes x and y as supose, unless you have changed config.h
#define HOMING_CYCLE_0 (1<<Z_AXIS)                // REQUIRED: First move Z to clear workspace.
#define HOMING_CYCLE_1 ((1<<X_AXIS)|(1<<Y_AXIS))  // OPTIONAL: Then move X,Y at the same time.
thats the original  will move fir

[2016-11-11 10:19] vMeph commented on #527
ups my bad i dont use the 2.0 version i use the UGS Platform, so not sure how performs in version 2.0
https://winder.ci.cloudbees.com/job/UGS/
witch in my opinion is a better controller
![ugs](https://cloud.githubusercontent.com/assets/12812111/20211822/301e8fee-a7f8-11e6-8d40-516e88f40e85.png)

[2016-11-11 12:11] jahnj0584 commented on #528
It's called feed override and is already implemented

On Nov 11, 2016 6:06 AM, "supagu" <notifications@github.com> wrote:

[2016-11-12 02:30] vMeph opened #529 "Macros?"
on macros everytime you create a macro it will add a new line for a new  macro eavean if you dont need, maybe would be good to have a button to add new macro and a button to delete a macro other then to keep adding buttons?

[2016-11-12 03:16] DOUG888 opened #530 "Laser stays on with pause"
Hi Guys
Running a laser program and the power board apparently was overheating (first time) pressed PAUSE to give it a chance to cool down but it stayed running at S1000...need an option to set S..... value to Zero while in PAUSE same would apply to a milling operation, for safety if no other reason.
Thanks
Doug

ps: I do have heat sinks on both laser and control board fan assisted

[2016-11-12 03:36] jahnj0584 commented on #530
Maybe for laser, but when milling you must leave the spindle on as there is acceleration time to restart the spindle on a resume

[2016-11-12 04:18] DOUG888 commented on #530
Yes…makes sense…mostly laser for me…so still request that this be added, thanks

From: Julius [mailto:notifications@github.com]
Sent: Saturday, 12 November 2016 2:36 PM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Author
Subject: Re: [winder/Universal-G-Code-Sender] Laser stays on with pause (#530)

Maybe for laser, but when milling you must leave the spindle on as there is acceleration time to

[2016-11-12 12:02] winder commented on #530
Laser mode in GRBL v1.1 might do this already.

On Fri, Nov 11, 2016 at 11:18 PM DOUG888 <notifications@github.com> wrote:

[2016-11-12 20:52] DOUG888 commented on #530
OK…How do I activate “”Laser Mode”” or are there specific commands that are to be used???

Or does config.h need to be specific for Laser and then another config.h for mill??, Hope this is not the case.

Thanks

From: Will Winder [mailto:notifications@github.com]
Sent: Saturday, 12 November 2016 11:02 PM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Author
Subject: Re: [winder/Universal-G-Code-S

[2016-11-12 22:15] winder commented on #530
It is the $32 setting. Details here:
https://github.com/gnea/grbl/blob/edge/doc/markdown/settings.md

I don't see anything specific about what happens during a pause. If it doesn't disable the laser that would be a good grbl feature request.

[2016-11-12 23:47] DOUG888 commented on #530
Thanks Will

Yep, can see the $32, but doesn’t specify the PAUSE question…have asked the question on the GRBL wiki, get back to you when I get an answer.

Thanks

Doug

From: Will Winder [mailto:notifications@github.com]
Sent: Sunday, 13 November 2016 9:16 AM
To: winder/Universal-G-Code-Sender
Cc: DOUG888; Author
Subject: Re: [winder/Universal-G-Code-Sender] Laser stays on with pause (#530)

It is

[2016-11-13 17:12] jglazer63 opened #531 "Suggestions for joging control"
I have used UGS pretty extensively.  Lately, the 2.0 new interface.  I would like to offer a few suggestions that I think would improve the jogging interface substantially.

First off, I want to say I love the software.  I use it pretty much exclusively with my X-Carve.  I purchased a BLUETOOTH NUMERIC KEYPAD that I have attached to the table that the machine is on.  This makes jogging and homing

[2016-11-13 17:21] jglazer63 opened #532 "Minor interface adjusments"
The new interface is looking good but I have 2 complaints and one issue:

* [x] The "Reset Zero" button is too close to the "Return to Zero" button and I've hit one or the other by mistake which pretty much hoses the piece I am working on.   In my opinion, the "Reset Zero" button needs to be far away from everything else so you know you really mean to hit that.  Maybe even with a dialog that says

[2016-11-13 17:23] winder commented on #531
Thanks for the suggestions. Some are already possible with the platform
GUI. Inside the preferences is a key mapping section so you can make
bindings for increase/decrease step size. You can also keybind a macro that
raises the tool before going home.

GRBL v1.1 has some ways to simulate continuous jogging that I'd like to
explore eventually.

On Sun, Nov 13, 2016 at 12:12 PM jglazer63 <notificati

[2016-11-13 17:30] jahnj0584 commented on #531
Some of these can already be done. Homing order of axis should be an option
by now, for sure. Z(machine 0), then XY, then drop the Z like industrial
machines.

Haas' have a jog lock key. Select direction and lock it. It moves until you
say stop. I assume we could do that by sending the same code as the pause
button does now with clearing the buffer?

On Nov 13, 2016 1:23 PM, "Will Winder" <notific

[2016-11-13 17:32] jahnj0584 commented on #532
I agree and have suggested similar. Reset should be beside the machine
coords beside each axis

On Nov 13, 2016 1:21 PM, "jglazer63" <notifications@github.com> wrote:

[2016-11-13 17:54] jglazer63 commented on #531
Home: Z 0 +safety then XY

[2016-11-13 18:06] jahnj0584 commented on #531
Machine 0 will be the max height it can be anyways

On Nov 13, 2016 1:54 PM, "jglazer63" <notifications@github.com> wrote:

[2016-11-13 19:08] jglazer63 opened #533 "Cannot find java 1.7 or higher."
Whenever I try ugsplatform64, I get the above error.  Nothing I try can point it to where java is installed.  If I open a command window (windows) and type Java -version it shows 1.8.   What am I missing?

[2016-11-13 21:18] #530 closed

[2016-11-13 21:19] DOUG888 opened #534 "Suggestion...Laser Mode with planned GRBL Tweeks"
Hi All
Please see the comments by Sonny on planned tweaks, I have some Safety suggestions to work with these as they become available.

From Sonny
ALL: Here are a list of tweaks I'm working on implementing prior to v1.1 master release! Please comment on them, if you disagree, have concerns, or think it's not the right thing to do for ANY reason. I'm fairly new to laser cutters and need user help t

[2016-11-13 22:34] DOUG888 opened #535 "Jog controller in version 683 Step size bug"
UGS Platform V683.
Jog Controller...Z step size is not adjustable from a value of 1.
Z up/down arrows not functioning and cannot write in a value either.
when these arrows are pressed the value of xy step sets to 1..the z value

just checked V676...was also happening there.

[2016-11-13 23:01] vMeph commented on #531
@jglazer63 intersting idea in using BLUETOOTH NUMERIC KEYPAD , could you give any information how it works and what wiring is need to make it happen and what kypad you using ?

[2016-11-14 01:47] jglazer63 commented on #531
Its pretty simple.   Nothing more than a second keyboard on your computer.   Do a search for you and you'll see what it looks like.   Mine is mounted on a post attached to the table where my x-carve is located.  Lets me jog the machine without using a big keyboard.

[2016-11-14 14:45] winder commented on #534
@DOUG888 Looks good, thanks for the update!

[2016-11-14 14:45] #534 closed

[2016-11-14 21:34] #535 closed

[2016-11-15 12:08] winder commented on #533
@jglazer63 my guess is that you might have the 32-bit version of java installed, when you run `java -version` does have `64-Bit` at the end like this? Does `ugsplatform.exe` run?
[code]

[2016-11-15 13:46] winder commented on #528
@supagu This is available with GRBL v1.1 and the Overrides plugin.

[2016-11-15 13:46] #528 closed

[2016-11-16 14:05] vMeph opened #536 "UGS platform $G - View gcode parser state"
@winder  are you aware that when you type $G -  to View gcode parser state nothing shows up?
it should show uo the state something like
[G0 G54 G17 G21 G90 G94 M0 M5 M9 T0 S0.0 F500.0]
but nothing shows other then

ok

[2016-11-17 13:29] #529 closed

[2016-11-17 13:30] #519 closed

[2016-11-17 13:32] winder commented on #217
This is implemented in the classic and platform GUIs now.

[2016-11-17 13:32] #217 closed

[2016-11-17 13:34] winder commented on #127
This is implemented now.

@Anachronicman GRBL v1.1 now has this feature built in, see "[laser mode](https://github.com/gnea/grbl/blob/edge/doc/markdown/settings.md#32---laser-mode-boolean)"

[2016-11-17 13:34] #127 closed

[2016-11-17 13:34] #317 closed

[2016-11-17 13:35] #319 closed

[2016-11-17 13:35] #501 closed

[2016-11-17 13:37] #527 closed

[2016-11-17 13:38] winder commented on #527
@supagu if UGS see's the machine is at `Z < 0` it will raise the tool to zero before going to (0,0,0). Hope that helps!

[2016-11-17 13:39] winder commented on #527
@vMeph this issue was with the `Common Actions` box in your screenshot, the `Return To Zero` button in there.

[2016-11-17 13:43] winder commented on #529
@vMeph You should no longer need to restart UGS to see the macro configurations now, also empty buttons are no longer displayed. Hopefully this is easier to use.

[2016-11-17 17:57] vMeph commented on #529
awsome
thanks :)

[2016-11-18 10:11] ChristianRenaux commented on #355
I do have exactly the same issue with the feed rate.  I am using Universal gcode sender 2.0.
So whatever the command FXX the speed is always the same.  The only  way to change the speed is by modifying the $100-$101-$102 variables, which of course is not a good solution.
Any idea ?

[2016-11-19 08:17] SadovovAlex commented on #507
@winder Sorry for the long absence...

I translated the remaining rows to russian language.

[2016-11-20 02:01] jahnj0584 opened #537 "Visualizer overlap"
The grey grid lines, when coincident with the blue cut lines will cover them and make it seem like they arent there. I'd put it so the grid lines are for reference and do not mask or cover ANY of the gcode lines

[2016-11-20 02:06] jahnj0584 opened #538 "Optional seperate Z axis"
well, i might be the only person who doesnt like the new optional jog Z settings! Can you PLEASE make this an optional thing? I broke a bit tonight because while using 0.1mm Z I expected XY to do the same but they were still on 10. I'd much rather the space be used for 0.1/1/10 selectable increments or not at all.

[2016-11-20 02:07] jahnj0584 opened #539 "unit toggle"
The unit toggle button should go in the center of the 4 directional jogs (the X/Y arrows) to save space OR be a menu settings for whatever system you are set up in. You really shouldnt be switching units from one thing to another, which is why industrial machines all come set up in one or the other.

[2016-11-20 02:10] jahnj0584 opened #540 "Move reset X/Y/Z buttons beside work 0"
I think it would make much more sense for them to be there, and not in the common actions window. Machine coords should also just be a subscript underneath as it's only used for reference if using jigs + homing.

Ideally, it'd be great if EVERY button could be moved around as docked as we see fit, then locked into our own "windows" that we manage (ie jog controller, coords, file mananger, etc)

[2016-11-20 02:11] jahnj0584 opened #541 "Rapids speed overrides"
I think this should be done on a percentage based control, instead of 10/50/100% values as currently configured.

[2016-11-20 02:13] winder commented on #541
I was hoping all 3 modes could be percentages like that, but the implementation of GRBL would make it pretty difficult to do differently than how I've got it now.

[2016-11-20 02:13] #541 closed

[2016-11-20 02:13] jahnj0584 opened #542 "Return to 0 axis order"
Still having issues where it moves Z to work 0 first. Please just revert this to be XY then Z, OR raise it by a user configurable amount.

[2016-11-20 02:18] jahnj0584 commented on #541
would it be easier to atleast make them configurable? I'd rather something like 40/75/100 or something then the current.

[2016-11-20 02:18] winder commented on #542
Z should only go to zero first if it was < 0 before, otherwise it should behave the way you described.

[2016-11-20 02:20] jahnj0584 commented on #542
it didnt today, when I just re-downloaded it. I made sure to connect with the Z at the top to set a high Z0 too!

[2016-11-20 02:20] winder commented on #541
It's a GRBL setting, you can change it but the GUI will still say 25/50/100. In `config.h`:
[code]

[2016-11-20 02:24] jahnj0584 commented on #541
Wicked! works for me. I rarely touch the rapids but its good to know.

[2016-11-20 02:24] jahnj0584 commented on #541
Wicked! works for me. I rarely touch the rapids but its good to know.

[2016-11-20 02:26] jahnj0584 opened #543 "Restart from line"
Using lots of small 0.5mm micro bits, they need to be swapped out. The solution is to either alow jogging while paused (safety issue?) or allowing the user to restart the file from a certain line. This would also mean the console would have to show the line number of the program.

[2016-11-20 02:29] jahnj0584 opened #544 "new jog issues"
since the new jogs, you can no longer send a continuous stream. It sends, locks, then unlocks the controller when the first command is finished sending. This is REALLY annoying and makes for a very cumbersome and jerky style of jogging. The old way was A LOT better, and if it means removing the feed command that has been added, then I accept the small sacrifice.

[2016-11-20 02:29] winder commented on #543
This would be a nice one to have, been an open ticket for a long time: #123

[2016-11-20 02:29] #543 closed

[2016-11-20 02:31] winder commented on #544
I made some tweaks a couple nights ago to fix the weird GUI state changes, you should be able to queue up a bunch of jogs in a row now.

[2016-11-20 02:59] jahnj0584 commented on #544
I was using a fresh download from today

On Nov 19, 2016 10:31 PM, "Will Winder" <notifications@github.com> wrote:

[2016-11-20 05:51] #540 closed

[2016-11-20 06:02] winder commented on #540
Here's the new panel. I added the pin states tonight as well, the panel is getting pretty big though so I might make separate windows for the DRO and the state/comment/pin.

<img width="303" alt="screen shot 2016-11-20 at 12 55 55 am" src="https://cloud.githubusercontent.com/assets/125509/20460745/65b059d8-aebc-11e6-9154-255049af2019.png">

[2016-11-20 12:53] vMeph opened #545 "UGS platform Feedrate"
when you first connect machine the feedrate is set to 10 on jog controler and if you send command lets assume F1000  nothing changes, same  if i do a macro button with F1000 when machine first connect you got no acess to macro butttons, nothing changes unless you go to jog controller and change the feed rate, it didnt use to be like that, so everytime i start machine if i want to me arround im for

[2016-11-20 14:47] jahnj0584 commented on #545
Did you send $X first?

On Nov 20, 2016 8:53 AM, "Meph1" <notifications@github.com> wrote:

[2016-11-20 14:51] vMeph commented on #545
i did do you have same problem or works fine?

[2016-11-20 15:17] jahnj0584 commented on #545
I didn't have this issue yesterday but I do think the feed rate option for
jogs should be removed or only set as 100/75/50 of your X/Y/Z rapid speed
set by the $ configuration

On Nov 20, 2016 10:51 AM, "Meph1" <notifications@github.com> wrote:

[2016-11-20 15:20] jahnj0584 commented on #540
What are the pin States for?

[2016-11-20 15:20] jahnj0584 commented on #540
But yes seperate would be good. I feel like I won't be using them

[2016-11-20 15:21] winder commented on #540
They tell you when the various external switches GRBL supports are activated. Like the probe, or XYZ endstops.

[2016-11-20 15:24] jahnj0584 commented on #540
Does it just go by what's plugged in? I just ordered an E-stop but if it
would be programmed to just pause the program and spindle that'd be gravy

On Nov 20, 2016 11:21 AM, "Will Winder" <notifications@github.com> wrote:

[2016-11-20 15:27] jahnj0584 opened #546 "Smaller download size"
I understand this a small issue, but my Internet is below 1mb/s and a 30mb download sometimes takes me 5-30 minutes to do, if I don't lose connection. Any way to only download the latest change/commit? Or does that require recompliling on my end or something?

[2016-11-20 15:39] jahnj0584 opened #547 "Reset axis treated as job"
You have to hit the stop button after resetting an axis to be able to reset the other or do anything else.

[2016-11-20 15:44] winder commented on #540
Yes, it's just for reporting. Sonny is adding a feature to pause the spindle (laser) when laser mode is enabled. Maybe you could ask him to bring that feature to non-laser mode.

[2016-11-20 15:56] winder commented on #546
1) Netbeans Platform has an "auto-update" feature which is really the only way to make the download size smaller. Using it ended up being much more complicated to implement than I was hoping, so I'm not sure if/when that is going to happen.

2) If you install git and a Java IDE like Netbeans or Eclipse you could recompile it yourself pulling down just the small commits each time. I have some infor

[2016-11-20 15:56] #546 closed

[2016-11-20 16:01] winder commented on #545
@vMeph I found the feed rate issue, it wasn't being restored or updated properly. I don't follow the issue with macros though. They don't enable for you when the machine starts?

What version of GRBL are you using?

[2016-11-20 16:02] jahnj0584 opened #548 "Default jog rate"
This should be saved in memory, like the increment size is or is set up in the options. 10mm is a bit slow when I rapid at 6m lol. I'd almost prefer it to be set up like the spindle over ride currently is with the percent increments

[2016-11-20 16:35] winder commented on #548
Fixed with 10c2f8cb235b622e7ca8258d8eeeb83fe6b84e41

[2016-11-20 16:35] #548 closed

[2016-11-20 16:36] winder commented on #547
Thanks, it looks like any commands which complete instantly are causing problems.

[2016-11-21 00:38] vMeph commented on #545
yes what i mean is when i start machine they are enable, but sense i have switches i got to first remove alarm $X and then macros buttons become disable, they only be enable if i do a jog move after

[2016-11-21 01:08] vMeph commented on #544
i have new version and also same problem you cant send a continous move on jog

[2016-11-22 21:51] DirkHeinke commented on #542
Probably the problem is in in GrblController: https://github.com/winder/Universal-G-Code-Sender/blob/master/ugs-core/src/com/willwinder/universalgcodesender/GrblController.java#L354

`this.machineLocation.z` is used, but in my opinion this should be `this.workLocation.z`?

[2016-11-24 05:21] aforww commented on #542
I am having the same issue. It is not existent on my other machine running a different version. I have homing switches installed and home every time I turn the machine on. So, Home, jog to desired work coordinates, reset zero. From there, anytime I hit "return to zero" it drops Z-axis first onto the work piece then drags it to X and Y zero. The G90 G0 Z0 command being issues before G90 G0 X0 Y0 Z0

[2016-11-24 05:26] aforww commented on #538
I absolutely agree with this. I use an xbox controller mapped to keyboard shortcuts to manage everything and now I canI because I have no way of mapping step adjustments to z. Please make this an optional change.

[2016-11-24 05:33] DirkHeinke commented on #542
Do you see two G90 G0 Z0 commands?
[code]
That is what I see at my maschine.

[2016-11-24 06:03] aforww commented on #542
No,  just the one. I thought the one was off,  but having two.  That makes
no sense.

On Nov 23, 2016 11:33 PM, "Dirk Heinke" <notifications@github.com> wrote:

[2016-11-27 03:28] RWW549 opened #549 "VISUALIZE"
I've used UGS without problems until I upgraded to Windows 10.  The visualizer always had thin precise lines that were easy to keep track of, but since the upgrade, all the lines in the visualizer are many pixels wide and not much better than a blur. the space between the lines is smaller than the lines are supposed to be. No other programs were effected, and I can't find any fix on the windows si

[2016-11-27 03:34] jahnj0584 commented on #549
its time for you to use the platform anyways.

On Sun, Nov 27, 2016 at 11:28 AM, RWW549 <notifications@github.com> wrote:

[2016-11-27 18:01] winder commented on #549
@rww549 I'm not sure what causes this, but it's been a problem pretty much
since day 1 of the visualizer for some people on windows. The ugs platform
visualizer has been almost completely rewritten and seems to be more
consistent across different operating systems.

On Sat, Nov 26, 2016 at 10:34 PM Julius <notifications@github.com> wrote:

[2016-11-28 01:14] RWW549 commented on #549
Thanks for the quick reply. It's still worth a lot more than I paid for it, but if you happen to find a fix, let me know.    Thanks.

[2016-11-28 01:14] #549 closed

[2016-11-28 17:13] dpeam commented on #65
My issue is simple. I was a CNC machines for about 40 years, I started back when they were incremental machines.
Never, and I mean, never did one drop the Z to just above the work and then rapid the X and Y axis. Or, unlike setup and operators, one likes to repair machines.
I was wondering just who is responsible for this behavior in this sender. It is a very dangerous way to work unless you like

[2016-11-28 17:20] aforww commented on #65
dpeam,  I don't know anyone who wants Z to go to zero then  traverse...  That's actually another issue that's open.  When I hit "return to zero"  it issues a G0 Z0 command before the others. No good at all.

[2016-11-28 17:49] winder commented on #542
@DirkHeinke I just noticed your comment from 6 days ago. I think you're right and I've updated the code accordingly. Let me know if this helps the situation.

[2016-11-28 18:09] winder commented on #65
@dpeam I'm responsible for everything in this program. Good and bad. Until starting as a hobbyist 5 years ago my CNC background was zero, so I take feedback from everyone very seriously - especially from professionals like yourself.

The behavior you're commenting on is a bug logged in ticket #542, I think it is related to Machine/Work coordinates (which I don't use, since my machine is not equipp

[2016-11-28 19:05] dpeam commented on #65
I know it does and that is the problem. It happens in GRBL, Easel and Chillipeper. It is like these people have never actually used a CNC mill before.
What thread is that in, I would very much like to see it.
All it takes is changing a very few lines of code that I do not have access to.

[2016-11-28 19:09] aforww commented on #65
@dpeam the issue # is 542. Here's the link.  https://github.com/winder/Universal-G-Code-Sender/issues/542.  Not much in the way of discussion though.

[2016-11-28 19:52] dpeam commented on #65
Another issue that is really frustrating. It should send an abort code when cancel is clicked, right now it just keeps on going. There is good reason to cancel or abort and it would except GRBL sends the entire file to the machine instead of line by line. that would make an abort easy.
It pauses with no problem why not abort?

[2016-11-28 19:56] winder commented on #65
@dpeam the nightly build will abort the job immediately. The reason why the machine keeps going in older builds is because GRBL needs you to buffer a few commands. So when you cancel no additional commands are sent but the buffered commands keep running.

[2016-11-28 20:07] dpeam commented on #65
I am running the latest build pause works nice but cancel does nothing. The only abort is turning off the X-Carve. Just how do I limit the buffer? In command (MDI) it only does each as I tell it to but when running a long file not so much.

[2016-11-28 20:58] winder commented on #65
@dpeam what version of GRBL are you using? There is a "single step mode" feature you can enable, but I don't recommend it for anything but troubleshooting.

[2016-11-29 12:55] jpbbricole opened #550 "Machine or Working location"
Concern UGS 2.0
When I change the location mode, $10=1 or $10=2, Machine status changes!
Why?

[2016-11-29 14:36] dpeam commented on #65
I just discovered the UGS Platform, what an improvement! One thing though, I was using a Wii controller for a pendant (no continuous jog but I didn’t need the keyboard), the Wii doesn’t seem to connect to the platform as yet, I may be missing something.
So far I really like it and I can use the other UGS to jog in for now.
Haven’t found single step mode either.
Thanks for all your help.

[2016-11-30 12:31] DirkHeinke commented on #542
Yes, I just downloaded the latest nightly build and tested it. First X/Y-axis, followed by Z. Perfect, thanks for the fix.

[2016-11-30 14:28] winder commented on #550
UGS uses GRBL status reports to display status information. You're changing the status reports so the UGS display changes.

[2016-11-30 14:28] #550 closed

[2016-11-30 14:29] #542 closed

[2016-11-30 16:26] jpbbricole commented on #550
Hi winder
I'm using GRBL 1.1
When I swap between Mpos ($10=1) and Wpos ($10=2) the displayed positions, machine position or work position, in UGS interface must be the same.

If WPos: is given, use MPos = WPos + WCO.
If MPos: is given, use WPos = MPos - WCO.

Ref.: https://github.com/gnea/grbl/blob/edge/doc/markdown/interface.md

Best ragards
jpbbricole

[2016-12-01 19:56] #538 closed

[2016-12-01 20:41] splitn2 opened #551 "Random lockups - check operating system power saving settings"
Hi ,

I have a question and perhaps an answer for those who have had occasional lockups with UGS or any other gcode sender.

I have helped a few friends with their small machines get started with GRBL. I keep them up to date with the latest Platform UGS and GRBL in sync with the recent changes to ensure its as generally up to date and bug free and supportable as possible. However I was getting fri

[2016-12-02 00:23] winder commented on #551
The latest version has a "keep alive" mode when you're sending a file. Basically it moves the mouse one pixel to make sure the computer doesn't fall asleep. I'm not sure what could be locking up though, does it happen during a job?

[2016-12-02 02:28] splitn2 commented on #551
yes in the middle of a job although I have never seen it in person just had frustrated users messaging me of their woes! For one guy it was generally after a period of 20 mins , and he';s not so computer savvy so couldn't put it in a technical way he more explained "it jammed up so I rebooted everything"  but after some digging we decided to do the usual things like pause/stop anti virus and put i

[2016-12-03 18:12] aforww commented on #538
I see you closed the issue.  however, I'm new to this and don't know what to make of the changes.  I know I still can't adjust all three axis simultaneously.  Is there a setting for this now?

[2016-12-03 18:31] jahnj0584 commented on #538
it seems like you have an option in the settings window. You have to re-download the file or read #546

[2016-12-03 19:45] aforww commented on #538
Thank you. I will try and figure it out.  Again,  new to this.  What do you mean download the file?  The nightly builds or something else?

[2016-12-03 20:00] jahnj0584 commented on #538
yep, just off the front page here in github! The zip for ugsplatform.

[2016-12-04 00:26] winder commented on #538
@aforww this doesn't let you jog in multiple directions at the same time, it lets you use a single step size for XY and Z.

<img width="926" alt="optional-z-step-size" src="https://cloud.githubusercontent.com/assets/125509/20863100/5db37328-b98e-11e6-9e1c-527abf550f39.png">

[2016-12-04 00:29] aforww commented on #538
By "adjust"  I meant change step size for all three.  But I found the settings about twenty minutes ago.  Thanks for the reply though,  I really appreciate it!

[2016-12-04 01:37] jglazer63 opened #552 "Jog with keyboard broken"
I saw some of the posts about jog being broken.  I too experienced the lock-up when holding a key down or pressing it too quickly.

But now there's a new problem with the 12/1 I just install.  I turn on "enable keyboard jog" and press a jog button and the machine moves then the check box gets unchecked.  Virtually making it impossible to jog with keyboard.

I need this corrected right away.  Its a

[2016-12-04 03:00] #552 closed

[2016-12-04 19:38] jglazer63 opened #553 "Cannot jog less than 1mm"
I appreciate fixing the keyboard jog but now I cannot go less than 1mm. Even though it says .001mm it still seems to go much more than that.  Nothing changes from 1-0mm.

[2016-12-14 14:36] ganeby opened #554 "reset zero"
Hello

when i try to reset zero, it comes up unsupported command, can you assist please.

regards Grant

[2016-12-14 14:37] winder commented on #554
What firmware are you using?

[2016-12-14 14:39] ganeby commented on #553
Hello

has no-one answered you yet?

Grant

[2016-12-14 14:46] winder commented on #553
I haven't had time to look at this one yet

[2016-12-14 20:38] jahnj0584 commented on #553
It has to be his side or from the latest version I always use 0.1mm when
setting my zero

On Dec 14, 2016 10:46 AM, "Will Winder" <notifications@github.com> wrote:

[2016-12-14 21:35] ganeby commented on #553
Hello, I think it is grbl.

On 14 Dec 2016 8:38 pm, Julius <notifications@github.com> wrote:
It has to be his side or from the latest version I always use 0.1mm when
setting my zero

On Dec 14, 2016 10:46 AM, "Will Winder" <notifications@github.com> wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/winder/Universal-G-Code-Sen

[2016-12-15 00:22] chamnit commented on #553
The only reason Grbl would not move less than 1mm is if the steps/mm setting is >= 1. There isn't much else that would cause that type of behavior.

[2016-12-15 13:14] #544 closed

[2016-12-15 13:15] winder commented on #544
@jahnj0584 @vMeph This should finally be fixed.

[2016-12-15 13:15] #554 closed

[2016-12-15 13:16] winder commented on #545
@vMeph this should be working, let me know if you're still seeing problems.

[2016-12-15 13:16] #545 closed

[2016-12-15 13:18] winder commented on #553
@jglazer63 I can't reproduce this in the Classic or Platform versions. If you are typing in a number you might have to tab out of the text box in order for it to register. Let me know if you're still seeing issues.

[2016-12-15 13:18] #553 closed

[2016-12-15 13:18] #533 closed

[2016-12-15 13:28] #536 closed

[2016-12-15 13:29] winder commented on #536
@vMeph You could have seen the response if you enable verbose console output. But that brings lots of other stuff to the console, so I added this back to the regular console as well.

[2016-12-16 17:30] shayo opened #555 "Feature request: sending email/text when job is done"
Would be nice to have a way to send an SMS or an email when jobs are done so I don't have to come and check the machine :)

[2016-12-16 20:39] jahnj0584 commented on #555
Can you not just enable sleep mode for GRBl and set a timer?

On Dec 16, 2016 1:30 PM, "shayo" <notifications@github.com> wrote:

[2016-12-16 20:56] winder commented on #555
It's an interesting suggestion, but I'm not sure I want to encourage people to leave their machines unattended.

[2016-12-16 20:58] shayo commented on #555
I'm doing aluminum with Xcarve so I need to go very slow.... jobs can take
couple of hours. I'm not going to babysit my machine :)

Shay Ohayon
HHMI Postdoc Fellow of the Life Sciences Research Foundation
DiCarlo's lab, MIT, 46-6147
+1 617-324-3593

On Fri, Dec 16, 2016 at 3:56 PM, Will Winder <notifications@github.com>
wrote:

[2016-12-16 20:58] aforww commented on #555
Invest in a web cam then.  Problem solved.

[2016-12-16 21:03] shayo commented on #555
Workaround... My Form2 3D printer has no problem sending me emails when
jobs are done.

Shay Ohayon
HHMI Postdoc Fellow of the Life Sciences Research Foundation
DiCarlo's lab, MIT, 46-6147
+1 617-324-3593

On Fri, Dec 16, 2016 at 3:58 PM, aforww <notifications@github.com> wrote:

[2016-12-17 01:19] #555 closed

[2016-12-23 00:11] poisa opened #556 "Feature request: Reset Z axis to another number than zero"
As shown in [this YouTube video](https://www.youtube.com/watch?v=Q-Q1o16Ux-I) it is sometimes useful to reset your Z axis to some arbitrary dimension other than zero in order to prevent cutting through your spoilboard. So instead of telling your machine "hey, this is zero" while the bit touches the top of your work, you tell it "hey, this is 1 inch" when the bit is touching the spoilboard. This ma

[2016-12-23 00:26] poisa commented on #556
Sometimes the easiest solutions are right in front of us. Thanks!

[2016-12-23 00:26] #556 closed

[2016-12-24 15:35] winder commented on #556
@poisa thanks for the suggestion. I think right now I'd recommend a macro, I think what you want is something like `G10 P0 L20 Z1`. You can also try `G10 P0 L20 Z{prompt|z-height}` if you find yourself wanting to use different heights.

[2016-12-25 01:58] Jpipe001 opened #557 "Error Handling"
This is my first post from a newbie, trying to give you some feedback.
Version 2.0 nightly build Dec 18, 2016

I am getting an error." G-code lock: G-code commands are locked out during alarm or jog state Streaming has been paused".
I don't want Skip  "Yes" or "No".  I want to Cancel.  Please add another button to "Cancel" to get me out of this loop.

I use M0 to pause and resume: the "Active Stat

[2016-12-26 11:30] tymop opened #558 "Baudrate 230400 needed"
The baudrate for arduino grbl is 230400 baud. I'm able to connect and send Gcode by hand on the serial port. But I can't connect with Universal-G-Code-Sender because the maximum baudrate is 115200.
I do not know how to add it.

Please add 230400 baud and maybe the others higher.

thank you!

[2016-12-27 16:29] jahnj0584 opened #559 "Unnecessary long Decimals for Jog To"
When using the visualizer, it sends commands like  G0 X219.5275388889229 Y-0.7415579557418823 which seem to be causing issues with my set up. It should truncate to whatever is set in the options.

[2016-12-27 17:28] winder opened #560 "History"
Keep a log with the machine history.

When connections are made, job durations, job files, job failures, etc.

Any other ideas for interesting metrics for job history?

[2016-12-27 17:31] #559 closed

[2016-12-27 17:36] #558 closed

[2016-12-27 17:37] winder commented on #558
@tymop Added 230400. FYI that field is editable so you can workaround the issue if you are testing something with an even higher baudrate.

[2016-12-27 17:42] jahnj0584 commented on #560
Based off what the work Haas' have
M30 count
Total run time (in job) HH:MM:SS
Last file cycle time
current cycle time

[2016-12-27 23:06] jahnj0584 opened #561 "Step Size Refresh Delay"
so, 99% of the time changing the step size will be "immediate" where if you change it, the next jog command you send will be what you recently entered. BUT, 1% of the time it still "hangs on" to the old step size which results in: broken bits, ruined materials, anger, headaches, etc etc. Is it possible to confirm the change or create some sort of feedback, like a beep on the Haas?

[2016-12-28 19:27] Fosforitofercho opened #562 "Overwrite feed doesnt work when send gcode"
Overwrite feed doesnt work when send gcode when send a gcode the controls are disabled .
I use UGS 2.0 jar

[2016-12-28 19:34] #562 closed

[2016-12-28 22:28] tymop commented on #558
I can not see the new baudrate.
I downloaded the zip file, and replaced my old folder, but I can not see the 230400 baudrate.

You said I can edit it. But how ? It is impossible to modify the field.

[2016-12-28 22:53] winder commented on #561
The step size is shown in the status bar at the bottom, but I can look into
a sound effect.

Are you using the keyboard shortcuts when the step size isn't updating?
On Tue, Dec 27, 2016 at 6:06 PM Julius <notifications@github.com> wrote:

[2016-12-28 23:08] jahnj0584 commented on #561
With this incident I manually entered the value (0.5 from 20), because
xpadder (Xbox controller) stopped working. I never have issues when I use
the shortcuts via the DPad to adjust to the presets (1/10/100 etc)

On Dec 28, 2016 6:53 PM, "Will Winder" <notifications@github.com> wrote:

[2016-12-29 23:53] winder commented on #558
@tymop You can edit the field in the "platform" version. The nightly builds have this change in it.

[2016-12-31 02:56] rajsenthil commented on #254
I am running the latest version v1.0.9 with jdk 8. I am getting the repeated NullPointerException
`
Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
        at com.willwinder.universalgcodesender.MainWindow.setStatusColorForState(MainWindow.java:2201)
        at com.willwinder.universalgcodesender.MainWindow.statusStringListener(MainWindow.java:2552)
        at com.willwinder.

[2016-12-31 02:58] rajsenthil commented on #254
Few more lines of exception

`Dec 30, 2016 6:57:52 PM com.willwinder.universalgcodesender.model.GUIBackend connect
INFO: Connecting to GRBL on port COM3
Dec 30, 2016 6:57:52 PM com.willwinder.universalgcodesender.model.GUIBackend sendControlStateEvent
INFO: Sending control state change.
Dec 30, 2016 6:57:52 PM com.willwinder.universalgcodesender.model.GUIBackend getFile
INFO: Getting gcode file.
D

[2017-01-03 03:26] Bosque00 opened #563 "Unable to conduct soft reset after soft limits hit"
Summary:
When soft limits are reached the UGSplatform disables all buttons in "Common Actions" not allowing a user to conduct a soft reset of Grbl. Currently disconnecting and reconnecting serial port to reset Grbl. This looses the current position.

Hardware:

Shapoko 3
Software:
Grbl 0.9g
Java: 1.8.0_51; Java HotSpot(TM) Client VM 25.51-b03 Runtime: Java(TM) SE Runtime Environment 1.8.0_51-b16
u

[2017-01-03 10:42] jahnj0584 commented on #563
Try only using UGS and the stop button or $X

[2017-01-03 21:01] Bosque00 commented on #563
This works using the UGS and $X.

[2017-01-03 21:02] Bosque00 commented on #563
This works using the UGS and $X.

[2017-01-11 19:01] kanere23 commented on #209
apparently it is an problem that many user same as me also encountered,
the chipset (Atmega2560 for me) has some hard time understanding of the gcode commands.
it is due to the software, it is built around a arduino uno.
and arduino mega doesn't respont after connect most of the time for users
with the arduino ethernet that i have laying around worked just one of the axis.

This is Version 1.1 (11

[2017-01-11 20:21] winder commented on #209
@kanere23 This is usually due to the arduino serial driver not being installed or selecting the wrong port. But since you are using a Atmega2560, which isn't a standard configuration, I'd suspect there might be a problem with that board or the version of grbl you installed isn't compatible with that board.

[2017-01-12 01:16] DOUG888 opened #564 "G02 ERROR"
Just running the new setup, latest GRBL and Platform.
Repeating error at the same code location, have attached screen shot.

Ran the program twice, exactly the same spot, same error.

Also cannot see the XYZ symbols in the DRO next to reset buttons. see same screen shot.
EDIT...THIS APPEARS TO BE AS A RESULT OF THE THEME I AM USING, the the symbols are there but i think the symbol color is to ligh

[2017-01-12 01:20] jahnj0584 commented on #564
Your column width is probably too narrow. I also had issues sometimes with
the long strings of commands, even they they fit under the settings.

On Wed, Jan 11, 2017 at 9:16 PM, DOUG888 <notifications@github.com> wrote:

[2017-01-12 02:00] gerritv commented on #209
I added a configurable wait in GbrblPanel to cover what sounds like this situation. The ATmega2560 takes longer to start up so the GUI has to wait a bit longer.

[2017-01-12 08:48] vMeph commented on #564
Off the topic what ugs skin you using? Where to download? How to install?
Thanks

[2017-01-12 13:23] winder commented on #209
UGS doesn't have any sort of connection timeout, a listener thread is always running once you click "connect". If anything comes across the wire after that it will show up in the console. So I think this is probably a problem with the hardware/software on the 2560 - trying multiple control software is always a good first troubleshooting step though.

[2017-01-12 13:39] gerritv commented on #209
I wasn't clear. My addition of delay was to wait longer before sending status requests, $G, etc.

[2017-01-12 18:07] MikeMidi opened #565 "Universal GCode Sender randomly disappears"
Help - Ever since i bought my milling router CNC machine, the Universal GCode sender randomly disappears leaving my laptop home screen only. When this happens the CNC machine gantry stops. (The spindle remains on if it happens during a toolpath run) I can only gain back control once I restart the Universal GCode sender once again, soft reset and $H. The Universal GCode sender does NOT hang up or '

[2017-01-12 18:32] winder commented on #565
I wonder if it could be some sort of over-zealous anti-virus software? Could you run UGS from the terminal, is there anything printed in the terminal after the program quits?

Alternatively, if you use the UGS Platform version, it should have better error handling for this.

[2017-01-12 18:51] MikeMidi commented on #565
Hey Winder, thanks for replying... ok so how exactly do I do these 2 things:
 1 How do I run UGS from the CMD prompt.
2 Also there's a UGS Platform version?.. is this something different i need to download and install?

[2017-01-12 19:10] winder commented on #565
@MikeMidi
1. If you can get to the directory with the UGS jar run `java -jar UniversalGcodeSender.jar` (or whatever you filename is).

2. Yes, the last link here. It is the new front-end for UGS: http://winder.github.io/ugs_website/download/

[2017-01-12 20:33] winder commented on #565
@MikeMidi thanks, that's good feedback.  In the zip you downloaded there's a "bin" folder with the executables you need to run in it. Described here: http://winder.github.io/ugs_website/guide/platform/#how-to-run

[2017-01-12 21:33] DOUG888 commented on #564
Jahnj
Thanks for the feedback, but what exactly do you mean by column width??? Which column?

[2017-01-12 22:34] DOUG888 commented on #564
vMeph
This is a theme file called Darcula.jar , I have attached the file but i don't remember how to install it. There are other themes available ...go to  TOOLS/OPTIONS/APPEARANCE/LOOK AND FEEL....YOU WILL SEE THEM THERE.
[com.revivius.nb-darcula.zip](https://github.com/winder/Universal-G-Code-Sender/files/703053/com.revivius.nb-darcula.zip)

[2017-01-14 16:07] holla2040 opened #566 "ugs nightly deletes nc file"
I'm running the nightly build on ubuntu 16.04 with oracle java 1.8.0.11 and grbl 1.1. When I open /tmp/a.nc, the contents of a.nc are deleted and ugs displays 0 lines. Something is wrong here.

[2017-01-20 18:08] f0m3 opened #567 "No visualization on osx 10.11"
I have an issue on osx 10.11 and UGCS platform (nightly).
One is that the visualization just doesn't show the loaded file. The classic version shows the visualization.
When i close the visualization tile and reopen it its all white and doesn't even show the "basic" grid.

[2017-01-21 04:08] jahnj0584 opened #568 "Optional Jog Speed"
I for one, do not need this option. I want to always jog at my max value set, so it'd be cool if we could remove this and make it an optional thing, akin to the Z jog step size. I'd rather replace these 2 with a "common increment" selection bubble menu, like 1/10/25/100mm or so. If they were macro's or easy to edit, all the better.

[2017-01-21 17:44] f0m3 opened #569 "Cant open File on OSX 10.11"
When i try to open a file in ugcs plattform i get a small Window with:
"Error while starting file stream: nulling"
This error doesn't always appear... I'm trying to figure out under what circumstances it happens...

[2017-01-22 01:31] aforww opened #570 "Single block mode."
Years ago this was a future feature.  Did it ever make it into the program? If not,  it would be a great addition.

[2017-01-22 15:57] f0m3 commented on #569
When i do not get this error messages after i browsed the file and opened it there are no "rows in file" mentioned in the "send" tab. The visualization doesnt show anything but the "basic grid". I double checked the file in ugcs classic.

[2017-01-28 18:40] jahnj0584 opened #571 "toggle for speed over ride"
+/- 10% has its uses, but I'd much prefer optional toggle settings. Think 5/50/100% speeds like on Haas machines Just seems to make more sense to me, or offer both? 5% is more if you are unsure of whether or not youll hit a screw, but +/- percent is good for dialing in speed for cutting in various materials.

[2017-01-28 18:46] jahnj0584 opened #572 "Optional menu for $$ settings"
It'd be cool if we could have a pop up window or something to keep the console open. Would help a lot with motor tuning and all that fun stuff.

[2017-01-28 18:47] jahnj0584 opened #573 "Pin Sensors"
Any way to incorporate sensors in the UI to show when pins are open/closed or active? Would help out a bunch when setting up limit switches and all that fun stuff. Maybe add a filter level to what counts as an actuation to compensate for electrical noise?

[2017-01-28 18:50] jahnj0584 opened #574 "Auto connect on start up does not work"
I have it enabled, but must still click the red connect button then $X to be able to control the machine

[2017-01-28 21:49] vMeph commented on #573
Would be great to have that option,i actualy have it but by using another arduino that is reading the pin states from arduino of grbl with a lcd

[2017-01-28 22:00] winder commented on #573
This is available in the ups platform. The DRO panel adds a bunch of
checkboxes to the bottom when you run GRBL 1.1.
On Sat, Jan 28, 2017 at 4:49 PM Meph1 <notifications@github.com> wrote:

[2017-01-28 22:17] whitetd commented on #573
Just add leds to the lines, would work fine. I will draw up an example
tonight

On Jan 28, 2017 2:01 PM, "Will Winder" <notifications@github.com> wrote:

[2017-02-04 18:28] rolfee opened #575 "universal gcode sender adjust default settings grbl"
nightly build jan 22 2017
setup machine open settings grbl
gui window is blank with no text at all

[2017-02-05 10:23] Russellfam opened #576 "Jog control greyed out"
If the Arduino locks up for some reason and I have to unplug it and reconnect, often the jog controls remain greyed out even ifI've reconnected properly to the device. I can home the device and even send files to it but the jog controls remain greyed out.

this happens on UGS and UGS platform

[2017-02-05 22:36] jahnj0584 opened #577 "Workflow helper missing"
Seems to have been axed? I'd enjoy it if it came back please!

[2017-02-05 22:38] jahnj0584 opened #578 "Editable DRO"
It'd be cool if we could double click on the values and change them. Either a complete overwrite, or allow for simple maths (+/-X)

[2017-02-05 22:39] jahnj0584 opened #579 "Remove/optional new features of DRO"
Many machines don't have a probe/door/limits/whatever so this is just a waste of space. It could very well be a seperate panel?

[2017-02-06 00:54] winder commented on #577
@jahnj0584 it should still be under window > plugins > Workflow Helper. You don't see it there?

[2017-02-07 13:31] TamGit commented on #558
Good morning,
I'm also interested in modifying the baudrate at higher value than 230400 but I can't find where to edit it ?
It's about laser engraving where the segments are way smaller than when milling stuffs.
Thanks.

[2017-02-07 13:33] winder commented on #558
@TamGit This option is in the nightly build version at the bottom of the page here: http://winder.github.io/ugs_website/download/

[2017-02-07 14:38] TamGit commented on #558
Ok I got it. I thought it was about a file to modify but it's the baudrate field that is directly editable.
Perfect !
Thanks.

[2017-02-09 02:10] jahnj0584 commented on #577
Ill check tomorrow. I dont think it was there, otherwise I wouldnt have
posted :P

On Sun, Feb 5, 2017 at 8:54 PM, Will Winder <notifications@github.com>
wrote:

[2017-02-10 19:16] tolland opened #580 "Commands not marked as done, though there is a response"
Hi,
I am using universal gcode sender version 2.0 nightly (5th Feb 2017) with a laseraxe GRBL controller running  Grbl 0.8. I can connect to the controller and send some jog commands, but then it stops and needs to be reset.

Is there some grbl version configuration that I am missing?

It seems that there is some problem with the format of the response from the controller, as I can see the "ok" re

[2017-02-10 20:13] tolland commented on #580
Ah, so this works ok if I use a different controller. So its something about the firmware.

[2017-02-10 21:06] winder commented on #580
@tolland I'm guessing the command table in UGS is looking for an `ok` response, and the extra output laseraxe added to the `ok` response is confusing it.

Aside from the command table, are you able to send files normally? If so you should be able to ignore the command table.

[2017-02-10 22:57] vMeph opened #581 "UGS platform scroll bar"
i wonder if would be possible to add on the console scroll bar a arrow on top and on bootom to scroll line by line, somethime you want to scroll up or down to a specific line and using the bar goes more then you want, specialy when using a labtop mouse pad

[2017-02-12 13:13] Durahl opened #582 "UGS-P - Toggle to ignore certain code?"
Greetings!

About 2 months ago I started using UGS with an **X-Carve 2.0** but recently switched over to the Nightly UGS-P Build.

My G-Code is being written by Fusion 360 which includes a few lines before the actual project containing a line with G28 I predefined for Tool Changes - G30 for parking the head out of the way.

UGS appears to ignore this first section of code including the G28 Command

[2017-02-12 14:37] jahnj0584 commented on #582
In fusion just disable the "use g28" option when you go to post the code.

On Feb 12, 2017 9:13 AM, "Durahl" <notifications@github.com> wrote:

[2017-02-12 14:44] aforww commented on #582
Just to further elaborate on the above suggestion, the G28 option is in the lower right options box when after you click post process in Fusion 360. Additionally, I always change the G54 command of Fusions Gcode to G0 Z10 before saving. That's just a fail safe in case you forget to raise the cutter before traversing.

[2017-02-12 18:55] Durahl commented on #582
Mhh... Disabling the G28 function entirely also disables it at the end of the Project code which I DID welcome as it would THEN bring it to the front of the CNC where I would then either change the tool or give the machine a small brush over to remove dirt.

I guess it comes either down to removing a piece of code at the beginning, adding some at the end or manually hitting the G28 Macro when need

[2017-02-15 07:21] swarfer opened #583 "nightly builds fail"
Hi Will
Clicking on either of the nightly builds links on http://winder.github.io/ugs_website/download/ results in a web page saying that the account has been hibernated.

"This  DEV@cloud account is currently unavailable,
System status
We're sorry, your Jenkins service is not accessible at the moment.
This account is currently hibernated. "

[2017-02-15 10:14] kardinal7 opened #584 "Z Probing"
Is there any way to make a script or a macro to make a Z-Probing?

[2017-02-15 12:22] aforww commented on #584
I was just researching this last night. Lots of info in the Xcarve and Shapeoko forums . Here's a good one. https://discuss.inventables.com/t/touch-plate/10314/27

But I do wish there was a specific button on UGSP to accommodate it only requiring the user to input bit diameter and plate thickness.

[2017-02-15 13:50] winder commented on #584
@kardinal7 @aforww Could you guys suggest how this could work in a new UGS platform window? I don't have a lot of time to experiment (and don't have probing on my machine), but I could probably whip something up if you could explain how it should work and what it should look like to be useful.

[2017-02-15 13:53] winder commented on #583
Thanks for the heads up, should be working again.

[2017-02-15 13:53] #583 closed

[2017-02-15 13:54] #580 closed

[2017-02-15 14:00] winder commented on #582
@Durahl UGS and UGS-P both run with the same processing engine (unless you upgraded from 1.0.9 -> 2.0 at the same time).

You can configure the parser, it sounds like I might have changed one of the default settings. There's a little documentation here:

[2017-02-15 14:02] kardinal7 commented on #563
The same happens to me in the platform. If limit switch is detected I need to disconnect the UGS platform and re-connect

[2017-02-15 14:08] kardinal7 commented on #584
The Chilipeppr has this functionality working, they call it touch plate
![image](https://cloud.githubusercontent.com/assets/17906686/22977754/e9605e44-f387-11e6-9b64-7c2483b57a59.png)

You need to define the step speed and the height of the touch plate.
After the probe detects the touch plate it corrects the Z axis.

[2017-02-15 17:03] Durahl commented on #582
The UGS version I ran before was indeed 1.0.9.

I just took a closer look at configuring the parser but didn't get really far:

- Entering the whole line **G28 G91 Z0** into it would do nothing.
UGS-P would still home towards G28 before heading to the actual project.
I assume this is only meant to be used on a single command like M6 which was already there?

- And then there's the issue with very

[2017-02-15 18:31] vMeph commented on #584
Would be great to have auto leveling like chilipepper on UGS platform

[2017-02-15 18:33] vMeph commented on #581
@winder any toughts on this?

[2017-02-15 20:44] jahnj0584 commented on #584
G38.2 then change your dimensions by your probe height.

On Feb 15, 2017 2:31 PM, "Meph1" <notifications@github.com> wrote:

[2017-02-16 23:26] aforww commented on #584
@winder I think a simple window allowing the user to input the plate thickness for offset and distance to be traveled before the command cancels due to non-contact would work. You could probably just add a simple button and input pane to the window that already displays the WCS and "reset zero" buttons.

So it would look something like
Plate Thickness (_Input Value Here_)
Travel to Error (_Input V

[2017-02-17 18:43] chamiljb opened #585 "Universal Gcode sender not support for G82 command"
When try to implement G82 Gcode in UGS 1.0.8 it shows an error message as **Unsupported statement**.How to fix this error?

[2017-02-17 19:02] winder commented on #585
GRBL doesn't support G82, take a look at the end of the page here for the list of supported codes:
https://github.com/gnea/grbl

[2017-02-17 19:02] #585 closed

[2017-02-17 19:34] chamiljb commented on #585
Thanks for informing me about this.

Are there any grbl cnc control softwares which can support to G82 command?

On Feb 18, 2017 2:02 AM, "Will Winder" <notifications@github.com> wrote:

[2017-02-18 22:30] aforww opened #586 "Jog being done as individual commands instead of continuous."
I'm pretty sure this has been addressed somewhere but I can't seem to find it or a resolution if there is one. When I'm jogging holding down an arrow key, for example, it's jogging as if I'm tapping the arrow instead of moving smoothly as I hold it down. Can someone point me in the right direction?

[2017-02-19 19:38] jahnj0584 commented on #586
Are you using the latest version? This issue was present a month or two ago
but has been fixed.

On Feb 18, 2017 6:30 PM, "aforww" <notifications@github.com> wrote:

[2017-02-21 23:23] laus785 commented on #162
Hello
Bonjour à tous
Voila moi j'ai un  message d’erreurs de ce type.
Error while starting file stream:command#3 too long:(86>50)'(using default header. to add your own header create file "header" in the output dir.)'
Je comprend pas vraiment la fin de se message ?
Es ce que quelqu'un pourrais me venir en aide s'il vous plais. :)

[2017-02-22 01:19] winder commented on #162
@laus785

Un ordinateur a traduit ceci. Je ne parle pas français.

Le message d'erreur est dans votre fichier gcode, la ligne est trop longue. C'est un commentaire que UGS aurait dû supprimer.

Quelle version utilisez-vous? Je pense que c'est un bug que j'ai fixé dans la "construction nocturne". Télécharger ici: http://winder.github.io/ugs_website/download/

[2017-02-22 10:16] laus785 commented on #162
Hello
Thank you for your answer.
I use version 1.0.7
The file and creates with Inkscape 64-bit, Windows 7.
Thank you

[2017-02-22 13:58] winder commented on #162
@laus785
La mise à niveau vers 1.0.9 ou 2.0 devrait corriger le problème, il ya beaucoup de corrections sinec 1.0.7 a été libéré.

[2017-02-23 20:51] laus785 commented on #162
Hello
Thank you, No more problems with this version 1.0.9 😉

2017-02-22 14:58 GMT+01:00 Will Winder <notifications@github.com>:

[2017-02-26 03:49] 71tr6 opened #587 "2.0 or Platform?"
This isn't actually and issue but a question.  Please let me know if there is a more appropriate venue for this sort of query.

I've played with 1.0.9 and 2.0 and Platform.  I really like 2.0 best of the three but I'd like to know in what direction most of the development effort is headed.  To the casual observer, things seem to be headed toward Platform.  Or, are they being developed in parallel

[2017-02-26 17:50] winder commented on #587
All of the backend code is shared between the Classic and Platform versions, so any bug fixes or stability improvements benefit both versions. That said, most new features will only be supported in the Platform version.

For example the low-level GRBL v1.1 support (jogging, status updates, error message parsing) is a core feature shared by both versions of UGS. But the real-time feed/speed UI is o

[2017-02-26 17:50] #587 closed

[2017-02-26 20:22] 71tr6 commented on #563
Start UGSplatform
Home system
Use jog controller to move any axis past a soft limit.
Attempt to issue a soft reset command
Workaround - Disconnect the serial port and reconnect it. Position is lost.

Same thing here. You don't even have to physically move the axis, just give a g code command that exceeds the soft limit.

[2017-02-26 22:32] kjkroeker opened #588 "UGSPLATFORM Memory requirements"
Are the memory requirements of ugsplatform documented somewhere? I'm running into an issue with initial heap size greater than maximum heap size when attempting to run on a Windows XP machine with 1GB.

[2017-02-26 22:40] 71tr6 opened #589 "GC: initialisation line"
Is there a way to edit this line?
Most of my work is inches so I'd like to change the g21 to a g20.

[2017-02-27 00:01] winder commented on #589
I'm not sure what you're asking, shouldn't your CAM software should be able to generate code in inch/mm? Or are you asking about the units in the UGS machine status area?

[2017-02-27 01:51] 71tr6 commented on #589
In the console, after a homing operation, you get an initialization line much like CAM software generates at the beginning of a file.
Specifically: [GC: G0 G54 G17 G21 G90 G94 M5 M9 T0 F0.0 S0]
I'd like to be able to change the G21 to G20.  Or, even better, have it look at the jogging window and use the same units that I'm working in.

[2017-02-27 08:21] vMeph commented on #589
You set that on grbl configs $$

[2017-02-27 16:22] 71tr6 commented on #589
vMeph, if you're referring to the $13 value, I do have it set to 1.
The $13 value is where I would LIKE the G20/G21 value to come from.
Is this a bug or a wish list item?

[2017-02-27 16:34] vMeph commented on #589
You have to set $13=0 for mm

[2017-02-27 16:56] winder commented on #589
`$13` is how GRBL reports units. I'm not sure how the initial units gets set - it may be hard coded to start in mm.

You can put a `G20` command in a startup line: https://github.com/gnea/grbl/blob/f51268e8556354a4851a8bdac2b6be7b8d7d5a03/doc/markdown/interface.md#startup-line-execution

[2017-02-27 16:56] #589 closed

[2017-02-27 17:01] winder commented on #589
Here's a better link about the startup commands:
https://github.com/gnea/grbl/blob/e455764079ccfa9ae277a8fa0078b0dbb36f3a51/doc/markdown/commands.md#n---view-startup-blocks

[2017-02-28 00:47] kjkroeker commented on #588
I've done a little more on this. It will not run with 1GB, but it will run with 1.75GB, so the threshold is somewhere between the 2.

[2017-02-28 00:47] #588 closed

[2017-02-28 01:22] rmisko11 opened #590 "Option to Turn Tool Off When Paused"
Maybe this option exists buy I can't find it so I would like to suggest that there be an option to stop the tool, e.g. M5 when pausing. Then reset the tool state upon resume.  I am using a laser engraver and often I pause while laser is on which typically burns a hole in the target as it does not automatically turn off.

[2017-02-28 01:41] winder commented on #590
What version of GRBL are you using? v1.1 should do this for you automatically.

[2017-02-28 01:54] rmisko11 commented on #590
I tried with the nightly builds of both classic gui and platform and it didn't work for me in either case.

[2017-02-28 02:10] rmisko11 commented on #590
Sorry, I don't read well and just noticed you are talking about GRBL.  The laser engraver has version 0.9 installed.

[2017-02-28 02:14] winder commented on #590
@rmisko11 unfortunately there isn't a very good way for UGS to implement this functionality. But GRBL v1.1 has a lot of features (including turning off the laser during a feed hold), so it may be worth an upgrade. Here is some documentation: https://github.com/gnea/grbl/wiki/Grbl-v1.1-Laser-Mode

[2017-02-28 02:14] #590 closed

[2017-02-28 02:51] rmisko11 commented on #590
Will,

Thank you for your prompt responses.  GRBL Version 1.1. looks pretty nice.
I will check if they engraver manufacturer has a new release but I am
guessing not.  I think it would be difficult for me to customize GRBL
source and compile for an arduino.  It is quite easy to build a simple
sender that would pause and resume the way I want which I would probably
have to do in any event.  At this

[2017-02-28 04:47] rmisko11 commented on #590
Thanks for the suggestion.  I found the source for GRBL1.1f ran the
makefile then installed and it seems to work!  Took about 2 mins!  I had no
idea it was that easy.

I will have to fine tune the settings but otherwise it seems quite
compatible with your UGS Platform.

Thanks again.

On Mon, Feb 27, 2017 at 9:50 PM, Roger Miskowicz <rmisko11@gmail.com> wrote:

[2017-02-28 11:20] greyltc commented on #49
I'd love to see expansion for G83 canned drilling cycles!

[2017-02-28 13:46] rmisko11 commented on #590
Thanks, I will have a look at that.  I find that the 'Pause'  in GRBL v1.1f
 does not always turn off the laser and I do have $32=1.  So if I can
create a plugin to pause then I should also be able to have it send either
M5 or M3 as required.

On Tue, Feb 28, 2017 at 2:22 AM, Will Winder <notifications@github.com>
wrote:

[2017-02-28 15:26] winder commented on #590
@rmisko11 The problem with issuing a `M5` or `M3` is that is that a GRBL pause (a.k.a. feed hold) usually stops the machine half way through a command, and when holding it doesn't accept additional commands.

In UGS Platform under `Window > Overrides` to toggle the spindle in "real time" which you can try using.

I'm surprised that grbl doesn't disable the laser. Take a close look at that laser-mo

[2017-03-01 23:26] vMeph opened #591 "overrides feed"
is it possible to add keymaps for overrides feed ++ and feed --?

[2017-03-02 01:57] rmisko11 opened #592 "Visualizer Grayed After First Print"
Using the UGS Platform the Visualizer works the first time I run the program as I expect, where it gets greyed out as the tool moves,  However, if I redo the print path is greyed out from the start whether or not I use 'soft reset'.  I need to restart the program to have the Visualizer work as I expect.

I am in laser mode $32=1.  Also, if I cancel and restart any file, the same or new, the previo

[2017-03-02 05:40] BusbyGT opened #593 "File Streaming Doesn't Complete"
When trying to send a probing script (see attache) with .nc extension, the nightly builds will not properly sense the end of the file and I have to restart UGS. I tried both Platform and Classic. The same file works no problem in 1.0.9. I also tried different Gcode files and got similar results. I did not try an actual cut file for fear of the problem happening, just probing files. First saw this

[2017-03-02 20:04] winder commented on #593
Was this working on the nightly build prior to 2/28?

[2017-03-02 20:13] BusbyGT commented on #593
I hadn't used the nightly build before only 1.0.9.

The Platform version I downloaded was on 2/24/17 but hadn't tried cutting until 2/28 (I meant to state that originally). On 2/28, I downloaded the nightly Classic build thinking it was Platform specific but it wasn't.

Once the file has been completed, the UI shows -2 for "Remaining Rows".

[2017-03-03 05:22] aforww opened #594 "Jog Controls Locked out"
If I send a job and I cancel it, or it completes, all jog functionality is locked out until I close and reopen UGS-P. Utilizing GRBL 1.1f as well.

[2017-03-03 16:11] aforww commented on #576
I'm having this issue every time a job completes or I cancel a job. Did you find a resolution?

[2017-03-03 17:43] thibalte commented on #584
Having looked into it myself I found out you only need to define 2 macros, per @jahnj0584's message:

1. trigger the probing: `G38.2 Z-50 F1` where Z has to be adjusted to probe far enough (but not too long if you have software/hardware limits enabled), and F has to be a reasonable speed for accuracy. Machine will then stop when probe is triggered

2. reset the Z height: `G92 Z39.2` where Z height

[2017-03-03 18:17] winder commented on #584
I'm still planning to make the helper window for this but have been very busy recently.

@thibalte thanks for this details on how you use these commands. Would it also be useful to have X/Y probing?

[2017-03-03 19:11] ermendaa opened #595 "Problem activate macro with gamepad"
The problem or bug I have is the following; When I activate the macro with the gamepad I only execute the first order of the macro, the rest ignores it. However, when I click on the program it works perfectly. A greeting and thanks for your work.

[2017-03-03 20:25] jahnj0584 commented on #584
Of course, but allow for different bit size offsets

On Mar 3, 2017 2:17 PM, "Will Winder" <notifications@github.com> wrote:

[2017-03-03 20:35] winder commented on #584
I guess for X/Y you would use the bit radius instead of the plate thickness

[2017-03-03 20:36] aforww commented on #584
Exactly. There's codes to do it via macro. We are just being needy and asking for a built in solution lol.

[2017-03-03 21:04] thibalte commented on #584
@winder Ah I've never used probing for X/Y, only Z. Actually I wasn't aware that probing worked for X/Y, then it could even be more interesting to support a routine for automatically centering in X/Y with a "corner ring" (not sure about the exact name, basically the bit is jogged in a ring and probes in positive/negative of both X/Y to find the exact center of the ring, the ring having a a corner

[2017-03-03 21:20] jahnj0584 commented on #584
It's called an edge finder. Its the same probe routing as Z but with X/Y
written in

On Mar 3, 2017 5:04 PM, "Thibault Brevet" <notifications@github.com> wrote:

[2017-03-04 07:16] #570 closed

[2017-03-04 07:16] #586 closed

[2017-03-04 20:39] winder commented on #595
@ermendaa What is your macro?

[2017-03-04 20:42] ermendaa commented on #595
Is this: $H; G10 P0 L20 X0 Y0 Z0; G30.1 X-175 Y-255 Z-2 F100; G0 Z-2;G10 P0 L20 X0 Y0 Z0

[2017-03-04 20:47] winder commented on #593
@BusbyGT Could you copy the console output from when you run this file? Using stock GRBL v1.1d it seems to work with no issue:
[code]

[2017-03-04 21:09] winder commented on #594
@aforww In UGS-P there is an "About ugsplatform" page in the menu, could you copy your system information from that page and put it here?

I'm not able to reproduce this problem. To double check I just updated to the latest GRBL 1.1f, started a send and then canceled it.

[2017-03-04 21:11] winder commented on #592
Thanks, I'm able to reproduce the problem I'll take a look. For now you can also re-open the gcode file to get the line counts to reset.

[2017-03-04 23:15] aforww commented on #594
@winder After you said you couldn't duplicate the issue I deleted UGS-P and downloaded it again. Wouldn't you know it, No more issues. The version I had was only a few days old so guess it was something that was worked out. Thanks.
ow it, No more issue. The version I had was only a few days old so guess it was something that was worked out. Thanks.

[2017-03-04 23:15] #594 closed

[2017-03-05 02:19] winder commented on #576
@Russellfam I'm not able to reproduce this issue, are you using the latest version of UGS?

[2017-03-05 04:19] Russellfam commented on #576
I used the nightly builds and since then I've had no issue whatsover

[2017-03-05 15:00] rmisko11 opened #596 "G91 Not Working in 2017-02-19 UGS Platform"
I can't get relative coordinates (G90) to work;

I have attached the screen capture which should show the movement for a rectangle that ends up at (0,0).  There should be no negative X or Y coordinates.

![2017-03-05_09 48 07_](https://cloud.githubusercontent.com/assets/26075507/23588329/0965720a-018a-11e7-83ca-c22536ea7170.png)

The code shown works as I expect when I send it directly to Laser En

[2017-03-05 15:10] jahnj0584 commented on #596
It says in the code that it switches to G91 then back to G90 after its done

On Mar 5, 2017 11:00 AM, "rmisko11" <notifications@github.com> wrote:

[2017-03-05 20:31] rmisko11 commented on #596
That's true but the code in between should moving the laser according to relative coordinates which it is not

[2017-03-06 15:11] #576 closed

[2017-03-06 15:17] winder commented on #575
What version of GRBL are you using?

[2017-03-06 20:14] Seyko5 opened #597 "Can not connect to cnc card "Grbl 0.9j ['$' for help] <Idle, WPos> gives an error."
Can not connect to cnc card "Grbl 0.9j ['$' for help]
<Idle, WPos> gives an error.

I want a solution

[2017-03-06 20:15] Seyko5 commented on #597
![adsiz](https://cloud.githubusercontent.com/assets/26200339/23627686/c2a878e6-02c2-11e7-854f-e913df524c29.jpg)

[2017-03-06 20:23] rmisko11 commented on #597
It shows that you ARE connected.

On Mon, Mar 6, 2017 at 3:15 PM, Seyko5 <notifications@github.com> wrote:

[2017-03-06 20:28] Seyko5 commented on #597
The stepper motors are not moving. Look at the picture

Android için Outlook<https://aka.ms/ghei36> uygulamasını edinin

On Mon, Mar 6, 2017 at 10:23 PM +0200, "rmisko11" <notifications@github.com<mailto:notifications@github.com>> wrote:

It shows that you ARE connected.

On Mon, Mar 6, 2017 at 3:15 PM, Seyko5 <notifications@github.com> wrote:

—
You are receiving this because you authored the thr

[2017-03-06 20:35] Seyko5 commented on #597
The stepper motors are not moving. Look at the picture

[2017-03-06 20:44] winder commented on #597
@Seyko5 Are you resetting your GRBL board in your screenshot? You shouldn't see `Grbl 0.9j ['$' for help]` over and over again. Also the `<Idle, WPos` showing up is very unusual, it means the `>` is not being received from GRBL. What do you see if you select `Show verbose output`?

Are you using a GRBL clone? There are some known issues with CH340G based boards: https://github.com/grbl/grbl/wiki/K

[2017-03-06 21:03] rmisko11 opened #598 "UGS Platform Ignoring Feed Rate"
UGS Platform (Build 19 Feb 17) is ignoring the speed command, say, 'F100'.  As can be seen in attached image the source shows 'F5000' at line 28 but it can be seen in the Console that it was not sent to the Laser Engraver.  It should have been right after the third line in the Console.

I have used software reset, program restart, and even $X to no avail.

Note: The program works when sent using m

[2017-03-06 21:24] jahnj0584 commented on #598
Is your sent feed rate greater then the Max speed in your $$ settings??

On Mar 6, 2017 5:03 PM, "rmisko11" <notifications@github.com> wrote:

[2017-03-06 21:30] rmisko11 commented on #598
No, they are set to 5000.

On Mon, Mar 6, 2017 at 4:24 PM, Julius <notifications@github.com> wrote:

[2017-03-06 21:33] winder commented on #598
Very strange, running it on the current nightly build I see the F command go through:

[code]

Is there a chance you were editing the file after loading it? UGS doesn't automatically reload the file if you make changes.

[2017-03-06 21:43] winder commented on #598
@rmisko11 Could you take a screenshot of the UGS `Controller Options` preferences?

[2017-03-06 21:52] rmisko11 commented on #598
I reload the file after each edit.  The same file sent not using the
Platform works fine and I am sure F5000 used to work on this platform on my
computer.

On Mon, Mar 6, 2017 at 4:33 PM, Will Winder <notifications@github.com>
wrote:

[2017-03-06 22:00] rmisko11 commented on #598
This is what I get when tried then same snippet:
**** Connected to /dev/ttyUSB0 @ 115200 baud ****

Grbl 1.1f ['$' for help]

$0 = 10    (Step pulse time, microseconds)
$1 = 25    (Step idle delay, milliseconds)
$2 = 0    (Step pulse invert, mask)
$3 = 0    (Step direction invert, mask)
$4 = 0    (Invert step enable pin, boolean)
$5 = 0    (Invert limit pins, boolean)
$6 = 0    (Invert probe pin,

[2017-03-06 22:38] isitcrunchy opened #599 "UGS no serial ports found"
I also have the gcode-sender Chrome app working on my macbook and it finds my serial port just fine:

<img width="597" alt="screen shot 2017-03-06 at 12 12 26 pm" src="https://cloud.githubusercontent.com/assets/26234958/23633127/976acf9e-0268-11e7-92a3-ac7479419ddf.png">

My macbook knows the serial port is there

<img width="337" alt="screen shot 2017-03-06 at 12 13 57 pm" src="https://cloud.gith

[2017-03-06 22:40] winder commented on #599
You can paste that into the port text box to connect. There's a bug in the
serial library I'm using that causes this.

On Mon, Mar 6, 2017 at 5:38 PM isitcrunchy <notifications@github.com> wrote:

[2017-03-06 23:08] isitcrunchy commented on #599
I must have tried pasting that in a dozen times. But now, this time, with your help it worked.

Thanks for waving whatever magic wand you have.

[2017-03-07 01:22] BusbyGT commented on #593
I went to reproduce this to grab the console output and it worked like I'd expect it. I had done some OS updates since I last tried it so maybe that solved it? I'll have to check what updates were installed. Either way, I think this issue can be considered closed as I can't even seem to reproduce it myself anymore.

[2017-03-07 11:26] rolfee commented on #575
version 1.1

________________________________
From: Will Winder <notifications@github.com>
Sent: 06 March 2017 15:17
To: winder/Universal-G-Code-Sender
Cc: rolfee; Author
Subject: Re: [winder/Universal-G-Code-Sender] universal gcode sender adjust default settings grbl (#575)

What version of GRBL are you using?

—
You are receiving this because you authored the thread.
Reply to this email directly

[2017-03-07 16:15] winder commented on #575
Could you share a screenshot of the blank window? I double checked and this window is working fine for me with grbl v1.1 and the nightly build.

[2017-03-07 16:29] #599 closed

[2017-03-07 16:31] winder commented on #598
@rmisko11 I was looking for the page at the bottom here: http://winder.github.io/ugs_website/guide/common/#error-handling

[2017-03-07 19:08] vMeph commented on #581
@winder :)?

[2017-03-07 21:18] rmisko11 commented on #598
Ahhh, thank you!  That fixed it.  I saw that there were a bunch of commands
in "Regular Expression Pattern Remover" that I then deleted.

UGS Platform is now working as I expect.

I am happy to have the ticket closed.

Thanks,
  Roger

On Tue, Mar 7, 2017 at 11:31 AM, Will Winder <notifications@github.com>
wrote:

[2017-03-07 21:31] #598 closed

[2017-03-08 11:22] rolfee commented on #575
i have just replaced grbl with 1.1f  and ugs with a nightly build and all seems fine

[2017-03-08 13:47] winder commented on #575
@rolfee thanks for the update

[2017-03-08 13:47] #575 closed

[2017-03-08 14:16] winder commented on #596
@rmisko11 Was `G91` in that command remover filter we found the other day? In the visualizer the lines are blocked by the X/Y axis lines, but otherwise looks good to me. It makes a 100mm angle:
<img width="477" alt="screen shot 2017-03-08 at 9 14 35 am" src="https://cloud.githubusercontent.com/assets/125509/23707261/ba84586a-03df-11e7-98d2-323809771619.png">

[2017-03-08 14:18] winder commented on #595
I think this is probably a side effect of how `$H` works. If you type these commands in manually do things get ignored while the machine is homing?

[2017-03-08 15:03] rmisko11 commented on #596
Sorry I forgot about this issue.  Yes, it was in the filter and since
removing it G91 works perfectly.

On Wed, Mar 8, 2017 at 9:16 AM, Will Winder <notifications@github.com>
wrote:

[2017-03-08 15:25] #596 closed

[2017-03-11 19:00] justflie opened #600 "Can't read/send file on Platform on a Mac"
I've tried this on two different macs thus far with the same result. I was first attempting to send a file via platform on an old Windows laptop. It simply wasn't up to the task for a larger file (pegging the processor, eventually leading to issues in the cut). I switched over to a Mac to try.

When I load the file, nothing shows up in visualizer. When I attempt to send the file, it gives me a nul

[2017-03-11 19:34] winder commented on #600
@justflie could you share the file you're using?

In the menu under "About ugsplatform", could you copy and paste the version information at the bottom?

For example mine says this:
[code]

[2017-03-11 21:55] vMeph commented on #584
Chilipeppr is open source maybe would be possible to see how they coded to make it the auto level, maybe could eaven make it like they have it and accept files directly from eagle cad to be able to do PCB design, this would be a great feature to have it on UGS and make it a more complete program, other then be jumping software to software to achive the desire things, personaly love it UGS platform

[2017-03-11 23:56] justflie commented on #600
Sure thing. The first file I tried was the larger finish one. Then I tried the simple rough one and got the same (no) result. Thanks, Winder.
[Archive.zip](https://github.com/winder/Universal-G-Code-Sender/files/836205/Archive.zip)

Product Version: NetBeans Platform 8.1 (Build 201510222201)
Java: 1.8.0_121; Java HotSpot(TM) 64-Bit Server VM 25.121-b13
Runtime: Java(TM) SE Runtime Environment 1.8.

[2017-03-12 16:36] winder commented on #600
So good news is that your file loads up fine on my mac test machine. I updated java to v121 and still no problems.

You mentioned running the nightly build, is the visualizer the only part not working for you right now?

When you see the problem, is there a red error icon in the bottom status area?

[2017-03-12 16:49] #597 closed

[2017-03-13 00:19] justflie commented on #600
Good news!

When I attempt to load the file in platform, it appears to load (as in, the green start key lights up), but nothing appears in visualizer. When I attempt to send the file, I receive the following error: Error while starting file stream: null (screenshot attached)
![screen shot 2017-03-12 at 8 16 44 pm](https://cloud.githubusercontent.com/assets/26349887/23837598/1257084c-0761-11e7-8fe9

[2017-03-13 10:31] rjclocks commented on #595
I am also having macro issues - only the first command in a macro chain is being processed.
Running nightly UGS platform from 11th March on a Mac.
Macro is only able to be executed from the menu, it won't respond from the window buttons, but still only executes the first command in the string.
Macro: G91; G38.2 Z-10 F100

[2017-03-13 11:01] rjclocks commented on #600
I am seeing the same problem with the Platform 2.0 nightly (11th Mar) on Mac
[code]
I have tried different gcode files and am seeing the same issue. The terminal window is showing that the file is being processed (bounds and line count), but something is not happening after that.
[code]

[2017-03-13 11:07] rjclocks commented on #600
Just looked for the red error icon in the status bar and found the following:
[code]

[2017-03-13 15:31] winder commented on #600
@rjclocks Thanks, that was what I needed.

@justflie @rjclocks I updated the nightly build, could you give it a try and see if the issue is resolved?

[2017-03-13 18:07] rjclocks commented on #595
Update - My macro issues have been resolved by updating my OS to the latest version. Not sure why, but all are behaving as expected.

[2017-03-13 18:09] rjclocks commented on #600
Update - My file sending issues have been resolved by updating my OS to the latest version. Not sure why, but all is now behaving as expected.
I will grab the new nightly build. Any tips on what to backup so as not to have to reconfigure everything?

[2017-03-13 18:12] winder commented on #600
@rjclocks These directories you shared earlier have all the platform metadata:
[code]

The problem you posted earlier, `java.lang.NoSuchMethodError: javax.vecmath.Point3d.setX(D)`, is most likely due to a different version of that library being on your machine. So it's feasible that an OS update could fix it. The nightly build should also fix the problem even if the wrong library is loaded.

[2017-03-14 02:04] justflie commented on #600
Good here, Winder. That did the trick. Thanks.

[2017-03-14 13:52] #600 closed

[2017-03-16 01:57] aforww opened #601 "Platform alarm reset? How to do it."
When I am using soft limits and the machine activates the alarm, how do I reset it? I tried $x with no success. The jog control buttons, machine control buttons, and manually entered code didn't work unless I completely close UGS and open it again .

[2017-03-18 01:43] jmesar opened #602 "Schedule a file task"
I need that my CNC execute a gcode file at certain time in the day hh:mm:ss is that possible?

My need is simple, the task is so long , Aspide say 12h, that i have to split it in several pieces, and they have to be done "Stand Alone" while i am at the office.  several small  pieces time my neighbors do not complain by the noise.

[2017-03-18 11:57] jahnj0584 commented on #602
Set up a webcam stream and remote desktop. This isn't the safest thing to
do. Are you sure your speeds are set properly for it to take that long

On Mar 17, 2017 10:43 PM, "jmesar" <notifications@github.com> wrote:

I need that my CNC execute a gcode file at certain time in the day hh:mm:ss
is that possible?

My need is simple, the task is so long , Aspide say 12h, that i have to
split it in sever

[2017-03-18 11:59] aforww commented on #563
Was there ever a resolution to this?

[2017-03-18 22:05] Bosque00 commented on #563
I have not used UGSplatform since finding this issue as the feature works better in UGS. I will have to try the latest version.

[2017-03-19 13:53] FishyD opened #603 "An error was detected while sending (only on nightly builds)"
Stable classic UGS (1.09) works great but running the same G-Code with both classic and platform  nightlies are giving me the same errors. When I load any G-Code file I get "an error was detected while sending..." If I try to run the Triquentra-CNC probe file I get a G20 error. If I run a V-Carve file w/ the X-Carve PP I get a M6 error. I know GRBL has issues with the M6 command so I could just de

[2017-03-19 16:59] vMeph opened #604 "UGS platform G54 problems?"
the problem is, lets say i do this
i do a homing $H lets say will stay at X-5 Y-5  Z-5 due to pull off distance
i send machine to a position lets say X-100 Y-100
i hit G54(G10 P1 L20 X0 Y0 Z0)
when i do this the machine coordinates becomes positive X100 Y100 and work coordinates X0 Y0
so when i run a job the machine will add to the machine positive positions other then discount from machine coords

[2017-03-19 17:01] jahnj0584 commented on #604
You're home position should still end as 0,0,0 and moving right and away
should be positive values

On Mar 19, 2017 1:59 PM, "Meph1" <notifications@github.com> wrote:

[2017-03-19 17:30] vMeph commented on #604
dont get it if machine is 0,0,0 and i move negative to -100,-100,0  and hit g54 and machine becomes positive 100,100,0 and work position 0,0,0 if i send home again and machine become 200,200??

[2017-03-19 17:36] jahnj0584 commented on #604
sounds like you have absolute and relative coordinate systems mixed up.

On Sun, Mar 19, 2017 at 2:30 PM, Meph1 <notifications@github.com> wrote:

[2017-03-19 17:44] vMeph commented on #604
i have reflash arduino still same problem could you do a test dont know what UGS platform but i have the 727

[2017-03-19 17:53] vMeph commented on #604
if you are at machine coordinates-50,-50,0 when you hit G54 it becomes positve 50,50

[2017-03-19 20:24] vMeph commented on #604
from what i see is that the g54 will folow orders but the UGS X Y Z is not updating the display values in absolute but is displaying in incrementing, bug?

[2017-03-20 14:07] winder commented on #603
@FishyD This is a new feature in the nightly build based on the recommended way to interact with GRBL. In UGS 1.0.9 those commands still failed, but you aren't notified of the failure.

The first failure is because there are some non-ascii characters in the file, if you remake the file it should work fine. In this case the file is setting the units, so it's really important that the user is notifi

[2017-03-20 14:07] #603 closed

[2017-03-20 14:37] winder commented on #563
I haven't worked on this issue yet. I recently wire a button to my test arduino so at least I can finally simulate some of these homing/limit scenarios.

[2017-03-20 18:15] cmkelly01 opened #605 "Pendant feed rate & UGS jog units"
I'm using the V2.0 nightly (3/13/17), and the pendant defaults to a F1 feed rate, which is sloooow, Is there (or will there be) a way to increase it? Also, will the jog feature for UGS continue to only be in MM, or will the inches option be added back in? You have a great set of software, and a great deal of patience and persistence - my hat's off to you. Thank you so much for keeping at it. I, fo

[2017-03-20 20:25] jahnj0584 commented on #605
Click on the mm box and it'll change the units to imperial

On Mar 20, 2017 3:15 PM, "cmkelly01" <notifications@github.com> wrote:

[2017-03-20 20:29] winder commented on #605
Unfortunately, nobody has really volunteered to help maintain the web pendant UI since it was initially contributed. Web development isn't one of my strengths so I haven't really touched it since the initial contribution.

[2017-03-20 20:53] cmkelly01 commented on #605
Clicking on the mm box just changes it to a "*".

[2017-03-20 20:53] #605 closed

[2017-03-20 20:59] jahnj0584 commented on #605
Want to guess what unit of measurement that signifies?

On Mar 20, 2017 5:53 PM, "cmkelly01" <notifications@github.com> wrote:

[2017-03-20 21:00] winder commented on #605
You see a `*` in the GUI or the Pendant?

[2017-03-20 22:18] TilmanG opened #606 "GRBL 0.9 Backwards Compatibility Issues on Nightly Build"
I am able to select a program and run it successfully however when I use the stop button or the pause button the console says "**** Pausing file transfer. ****" or **** Cancelling file transfer. **** and all controls become grayed out. In order to get it "Unstuck" I need to disconnect and reconnect or wait until a dialog box comes up telling me "Grbl timed out" or something similar.

I'm using a s

[2017-03-20 22:47] jahnj0584 commented on #606
Did you try pressing the Play button after?

On Mar 20, 2017 7:18 PM, "TilmanG" <notifications@github.com> wrote:

[2017-03-20 22:52] TilmanG commented on #606
@jahnj0584 Yes, multiple times however it just keeps repeating the Pausing file transfer message in the console

[2017-03-21 00:42] vMeph commented on #604
@winder  can you clarify on this use i have a lcd that is getting coords from arduino also and the beaivior i see is very diferent
on UGS i see this happening
im at 0,0,0 machine 0,0,0 work
i send X-100  X-100 Z0 and UGS shows -100,-100,0 machine and off course -100,-100,0 work
i save position and off set with G10 P1 L20 X0 Y0 Z0
UGS shows machine 100,100,0 and work 0,0,0
( notice above that the t

[2017-03-21 01:14] winder commented on #604
The small numbers are the machine coordinates and the large numbers are the work coordinates. Both as reported by GRBL. You can enable verbose output in the preferences to get the detailed console output to see the exact messages coming from grbl.

[2017-03-21 23:25] vMeph commented on #604
@winder there is a bug on how UGS is showing coords i made some tests and this what im getting

i start machine i send homing $H
[verbose] <Idle|WPos:-5.000,-5.000,-5.000|Bf:15,128|FS:0,0|WCO:0.000,0.000,0.000>    UGS shows same

i send command X-100
[verbose] <Idle|WPos:-100.000,-5.000,-5.000|Bf:15,128|FS:0,0|WCO:0.000,0.000,0.000> UGS display shows same

i set a G54  using folowing command

ok
[

[2017-03-22 00:13] winder commented on #604
It looks like the work position is big and the machine position is small:
[code]

I think I see your confusion now when looking at the GRBL status. There is a new format that is a little strange to interpret. To parse this line:
[code]
The important values are `WPos:95.000,0.000,0.000` (Work Position) and `WCO:-100.000,-5.000,-5.000` (Work Coordinate Offset). Offset of WCO being the important part

[2017-03-22 00:53] vMeph commented on #604
but when set work coordinates to 0,0,0  is the small letters that becomes 0,0,0 so will that means that you are setting machine to 0,0,0 in relation to work coords
fells a lilte strange that   wouldnt show has verbose shows and cause alot confusion cause if you going from 0 to -100 and then if you go back to 0 becomes 100 verbose
seems to work as expected

i guess is just confusing and makes no se

[2017-03-22 01:10] winder commented on #604
I just ran the following commands:
[code]

Afterward, the big number's are 0.00 indicating that the work location has been set to zero, and the small numbers remain at -10. Am I missing something or does this have the opposite behavior for you?

<img width="274" alt="screen shot 2017-03-21 at 9 05 55 pm" src="https://cloud.githubusercontent.com/assets/125509/24177675/7e3039a6-0e7a-11e7-926e-09b9c5

[2017-03-22 01:14] vMeph commented on #604
to me is doing the oposite behavior, i already reflash arduino and clean start off UGS platform and removed the temps hiden etc.. still happens same no idea :(

[2017-03-22 01:28] chamnit commented on #604
L20 is set work origin to the XYZ specified. The behavior you're expecting is when you use an L2 instead.

[2017-03-22 18:55] vMeph commented on #604
@winder ok i have figuer out whats going on

if you set $10=1 you see in UGS the Work coords in big and machine in small and works as expected
if you set $10=2 you see in UGS machine coords in big and work coords in small doesnt work as expected

however in both way verbose works as expected and UGS  display doesnt
dont know but maybe the algorithm that UGS uses is same for both options, dont know

[2017-03-22 19:15] TilmanG commented on #606
I fixed the problem by updating the GRBL version on the controller from 0.9 to 1.1

[2017-03-22 19:27] aforww commented on #563
@winder it seems to be isolated to platform. Hopefully it gets worked out.

[2017-03-22 19:29] winder commented on #606
@TilmanG thanks for the update. UGS should still work with 0.9 so I'm going to leave this open for now. I actually noticed this issue before, one of my test Arduino's must be on an older version and I didn't realize it.

[2017-03-22 19:41] winder commented on #604
@vMeph Aah, it looks like I'm calculating MPos wrong when WPos is reported. Notice that it changes between MPos/WPos when you change $10.

[2017-03-22 22:40] giacomo1574 opened #607 "First movement after changing $100, $101, $102 parameters is always inaccurate"
When I change a step/mm parameter ($100, $101, $102) and I try to move the machine from the keyboard or the GUI controls, the machine moves inaccurately on its first movement. Sometimes exactly twice the supposed distance, sometimes completely randomly. This only happens for the first movement right after I change the value, after that one the axis starts moving perfectly according to the updated

[2017-03-22 23:00] jahnj0584 commented on #607
I only had this happen as the first move is jogged at the old value. I
assumed it's because it needs a "cycle" to apply the setting

On Mar 22, 2017 7:40 PM, "giacomo1574" <notifications@github.com> wrote:

[2017-03-22 23:52] winder commented on #607
@giacomo1574 What version of UGS and GRBL are you using?

Could you attach the command console output when you're setting the command and identify which command isn't working as expected?

[2017-03-23 00:16] vMeph commented on #581
lol i fell stupid i have some dark theme for so long and doesnt show arrows of scroolbar,  that i completely forgot this was already implemented imao lol :)

[2017-03-23 00:16] #581 closed

[2017-03-25 22:57] osterchrisi opened #608 "Completely empty UI of UGS Platform"
I downloaded the UGS Platform nightly build from the official download page but upon running the ugsplatform bin I am presented with an "empty" UI.  On the top left I see three "buttons" called < Connection > < StartPauseStop > and < FileBrowser >. When I click the Window menu, the first entries are
< Not localized: VisualizerTopComponent >
< Not localized: LocationStatusTopComponen t>

and so on.

[2017-03-26 00:48] osterchrisi commented on #608
Ah, got it solved. I had Java 8 installed but my alternatives were wet to Java 7.

[2017-03-26 00:48] #608 closed

[2017-03-28 11:22] labohemia opened #609 "Installing problem"
hey guys

so I dowloadet the ZIP with the WinRAR which should be compatible with ZIP files but when i try to unzipp the file, it just transfers it to an other folder and when i try to open it it says that there is no programm on the computer to open the file.

there is also a file called startWindows i cant open but when i go on edit there stands : java -jar -Xmx256m UniversalGcodeSender.jar

I am

[2017-03-28 13:41] #609 closed

[2017-03-28 14:36] garyrkey commented on #487
Would it help resolve this problem if I sent you a Raspberry Pi (with power supply and Raspbian/Pixel installed) as a testing platform?

[2017-03-29 07:14] labohemia opened #610 "What did I do wrong ?"
Hey Guys

When I open the reader and want to send a Programm or just type $, so just easy commands, it says that GRBL is booting !
ok but GRBL does not boot for several Houers right ? :D
 And when I am in the serial Monitor from Arduino, it says :

[code]

pls Help me, I have no idea what to do :/

[2017-03-29 14:27] labohemia commented on #601
you Need to write $X the X is big
if you write $x it just saves your G-Code Setting

[2017-03-29 15:18] winder commented on #487
@garyrkey yes, that's pretty much the only way I'll be able to address this. But I'm a little hesitant to accept a donation since I'm not sure when I'll have a chance to work on this.

[2017-03-29 15:32] #607 closed

[2017-03-29 22:20] #487 closed

[2017-03-30 02:38] #595 closed

[2017-03-30 02:39] winder commented on #595
@ermendaa I found the problem, thanks for the bug report.

[2017-03-30 05:34] winder commented on #584
UGS finally supports probing!  I used this support to build a simple "Probe Helper" which you can find in the latest nightly build menu under `Window > Plugin > Probe Helper`. It seems to be working in my tests, I'll wait for some feedback before closing this issue.

<img width="280" alt="screen shot 2017-03-30 at 1 27 28 am" src="https://cloud.githubusercontent.com/assets/125509/24488941/49a0a5b2

[2017-03-30 16:53] HomeMaticThomas commented on #584
This is the Message i got when i was klicking on the "Initial-Probe"
error: Expected command letter: G-code words consist of a letter and a value. Letter was not found.

Do i need to activate the probe feature?
Where to connect the Probe-Pin?
I am using a Arduino with CNC Shiled V3.0 and GRBL 1.1

[2017-03-30 16:58] thibalte commented on #584
Probing is active by default. You need to wire the touch plate to GND and the milling bit to pin A5, I use a simple alligator clip with a wire going to A5. (or vice-versa, as long as A5 is shorted to GND when you touch the probed surface).

Regarding the actual error, I couldn't try the feature yet, but I believe UGS will show in the Console what message was sent to Grbl. Can you copy-paste the Co

[2017-03-30 17:36] HomeMaticThomas commented on #584
WoW, fast answer:-)!
Thanks for you description to connect the Probe! I have a 3020T and just upgraded it to an Arduino-Version, which ist much better then some other controllers!

This is the complete GCode from the console:

[code]

[2017-03-30 17:40] thibalte commented on #584
oh, I cannot test it but I believe Grbl uses dots for decimal, not comma. Have you explicitly marked `10,000000` and `5,000000` ? if not, then the fields are returning a malformed value. if you manually send `G38.2 Z-10.000000 F5.000000` it should work (at least to start the probing routine, not reset the z-height, you can follow my procedure marked above to probe by sending manually the g-code co

[2017-03-30 17:42] HomeMaticThomas commented on #584
Yes, thats right, the "," is the problem. With a "." it works.

[2017-03-30 17:42] winder commented on #584
Oops, this is a localization issue. I'll take a look tonight.

[2017-03-30 17:43] rmisko11 commented on #584
Should these be commas?

G38.2 Z-10,000000 F5,000000

On Thu, Mar 30, 2017 at 1:36 PM, HomeMaticThomas <notifications@github.com>
wrote:

[2017-03-30 17:44] HomeMaticThomas commented on #584
WoW! Great and super-fast work - this is a perfect community!

[2017-03-30 19:04] vMeph opened #612 "overrides feed Keymaps on UGS platform"
@winder would it be possible to add Keymaps for Override feed ++ and -- to be directly used by a joystick or keyboard?

thanks

[2017-03-30 23:14] aforww commented on #584
Very Nice!

[2017-03-31 01:59] winder commented on #584
@HomeMaticThomas the comma issue should be fixed now, let me know if it works for you.

[2017-03-31 02:07] #604 closed

[2017-03-31 02:08] winder commented on #612
I'll take a look at #591

[2017-03-31 02:08] #612 closed

[2017-03-31 04:07] #591 closed

[2017-03-31 04:07] winder commented on #591
Lots of new actions in the menu and keymap:
<img width="567" alt="screen shot 2017-03-31 at 12 03 55 am" src="https://cloud.githubusercontent.com/assets/125509/24536065/04711062-15a6-11e7-8127-a979e0e44aa2.png">

[2017-03-31 04:17] winder commented on #610
@labohemia It looks like your EEPROM may have been corrupted which could cause this specific issue. Version 0.9a is extremely old so I would recommend updating to 0.9j or (better) v1.1.

What type of controller board are you using?

[2017-03-31 04:20] winder commented on #602
Sorry but I'm not planning to add any features like this, I don't like the idea of encouraging people to run their machines unattended.

[2017-03-31 04:20] #602 closed

[2017-03-31 04:24] #573 closed

[2017-03-31 14:15] HomeMaticThomas commented on #584
Thanks alot, it works perfect!

[2017-03-31 18:17] vMeph commented on #591
Thanks alot awsome :)

[2017-04-01 01:44] FishyD commented on #603
Thanks! Regarding the Triquentra probe files; for some reason the .txt file was saving as a UTF-8 txt file. I opened it, resaved as an ANSI txt file and it worked great. I'll have to talk to Charlie on getting his Tool Box to save the txt output files as ANSI by default. On the other error I removed the "T1M6" from my post processor and no errors. Thanks for the help, I really appreciate it.

[2017-04-02 20:31] vMeph commented on #584
@winder thanks for have adding Z probing to UGS platform

would be great if UGS could add function of auto leveling also
this is a pefect exemple in what we could do it with auto leveling
https://www.youtube.com/watch?v=ApBfHW7AhsM]

chilipeppr have implemented widged with it
![auto](https://cloud.githubusercontent.com/assets/12812111/24590769/1fda4868-17eb-11e7-97a5-4271d5a58419.png)

would this

[2017-04-02 21:02] winder commented on #584
@vMeph that's the plan.

[2017-04-02 21:02] #584 closed

[2017-04-02 23:02] vMeph opened #614 "UGS customize themes?"
@winder  im not sure if this would be possible

Could UGS have like a area to customize theme, the same way you have for the visualization and console area that we can change colors and text styles?

if we could have a area that we could customize the tables,text,cells,buttons etc.. with option to change colors
i know there is out there themes that you can bring it into UGS, but if we could custom

[2017-04-04 02:01] winder commented on #614
@vMeph this isn't something I'm planning to work on, but there seem to be some options available.

You could try this plugin: http://plugins.netbeans.org/plugin/55618/ui-editor

There are also other themes available, but they're pretty difficult to find on the netbeans plugin portal:
https://jaxenter.com/netbeans/the-complete-guide-to-tuning-the-appearance-of-netbeans

[2017-04-04 02:01] #614 closed

[2017-04-04 02:02] #610 closed

[2017-04-04 06:09] labohemia commented on #610
Sorry for not replying I had no Internet Access the last days.
I just downloaded the V.1.1 and it still doesn't work
I am using the Synthetos GRBL-Shield

thank you for your help !

[2017-04-04 08:15] vMeph commented on #610
Did you first clean your EEPROM?

[2017-04-04 08:23] labohemia commented on #610
Yes, I did it once

I have forced the Arduino to reset the trough cabling and delete Everiything and started from the beginning.

I cleaned it for the second time and now it works

I am so happy thank you all :)

but what have could been the problem ?

[2017-04-04 08:36] vMeph commented on #610
EEprom corrup maybe and when you upgrade from grbl 0.9 to 1.1 you got to clean EEPROM
Glad you fixed your probem!!!

[2017-04-04 22:36] vMeph commented on #584
@winder from what i see so far probing is working as expected

now i wonder if this would make any sense
as you know when we do homing the machine will repeat 2 times the process, first will go at fast movement and the will repeat at slow movement to have a better precision
so now lets imagine i did a homing and like you know z will be at the top so start a probing with a feedrate of 10 it will ta

[2017-04-04 23:10] jahnj0584 commented on #584
I did this before with a macro. It doesn't change the accuracy of the
probe. Just manually jog 1-6mm above your probe and then use the widget
with one speed. The only addition I'd like to see is a retract height as
well, say up to 30mm despite the probe height being accounted for.

On Apr 4, 2017 7:36 PM, "Meph1" <notifications@github.com> wrote:

[2017-04-06 07:09] 20051971 opened #615 "Problem with GUI platform on XP"
Hello,

First all my congratulations for your excellent soft, a big thank to the developers.

I have a small bug  with UGS Platform (Netbeam) that does not work on 3 of my computers and no problem with the other ...
I have the same version of Windows XP, Java on all my computers.

When I run the .exe program nothing happens and any error message???
I can give you the hard configurations of my comp

[2017-04-06 11:31] Radiu commented on #584
Hi i have test the probing,but something is wrong when i do probing toutchs plate and stops but when i start a job file z probe starts going up slowly like its probing and then stars poping errors about m6 then g54 and then all type of errors,basic everything is a error,there was 1 time it worked correctly,the problem isnt the file cause if i run it with out probing works all the time perfectly, a

[2017-04-07 10:47] ghtali commented on #136
winder, thanks man, you saved my day 👍

[2017-04-07 13:02] ghtali commented on #136
I've made a tutorial on StackOverflow.com it might help you:

[http://stackoverflow.com/questions/37261533/rxtx-java-eclipse-on-mac/43278620#43278620](url)

[2017-04-07 17:53] yifabin023 opened #616 "win7 can not run"
E:\UniversalGcodeSender2>java -jar -Xmx256m UniversalGcodeSender.jar
四月 08, 2017 1:41:18 上午 com.willwinder.universalgcodesender.utils.SettingsFac
tory loadSettings
信息: Log location: C:\Users\Administrator\.ugs\UniversalGcodeSender.json
四月 08, 2017 1:41:18 上午 com.willwinder.universalgcodesender.utils.SettingsFac
tory loadSettings
信息: Loading settings.
Initializing...
Exception in thread "main" java

[2017-04-11 00:34] jahnj0584 opened #617 "Issues with return to Zero"
Something weird is happening with my machine. I have 110/110 set to 4200mm/min, and it can cut 5mm pine at that speed without losing steps UNTIL I hit return to zero. The Y axis loses steps and does not operate properly. If I apply the 50% rapid over ride, it DOES work properly.

I thought it'd be an issue of moving along a hypotenuse (~1.3x regular velocity) but then the issue should also come up

[2017-04-11 00:40] winder commented on #617
It sounds like you're losing steps, probably the acceleration settings are different for G1 vs G0. I'd try lowering your acceleration settings until it works at full speed.

[2017-04-11 00:43] jahnj0584 commented on #617
Is there a reason why it'd accelerate differently for G0 though?

110 = 4200
110 = 4200
120 = 120
121 = 100

[2017-04-11 12:31] DirkHeinke opened #618 "Stable Release"
Hello,

do you plan to release a new stable version? The last release is from 2015 and does not work with the new GRBL 1.x
I would love to do some beta testing if you need someone.

[2017-04-11 13:39] jahnj0584 commented on #618
2.0 has been stable and usable for all but one of the versions which was
only out for two days.

On Apr 11, 2017 9:31 AM, "Dirk Heinke" <notifications@github.com> wrote:

[2017-04-11 13:54] winder commented on #618
@DirkHeinke the Nightly Build is very close to being ready, but I keep getting distracted from the last few items on my checklist. About 40% of UGS downloads are nightly builds, so they are getting a lot of testing. If you'd like to try it out and report any problems you find the download link is at the bottom of this page: http://winder.github.io/ugs_website/download/

I'll try to get a stable re

[2017-04-11 13:54] #618 closed

[2017-04-13 05:15] joacimb opened #619 "Customizing the action toolbar throws errors if switching to other locales"
If I switch to another language the toolbar customization tool throws an error. The only way to restore UGS is to manually remove the action instance files and restart.

To reproduce:
1. Open UGS and change language to German then restart UGS
1. Choose to customize the toolbar ![screen shot 2017-04-13 at 06 49 31](https://cloud.githubusercontent.com/assets/8962024/24990617/9f6a8610-2015-11e7-9ec9-

[2017-04-15 13:27] joacimb opened #621 "Add possibility to customizing the toolbar"
I've been poking around in the code trying to get the toolbar customization working to make UGS more suitable to run on a  computer with a low resolution touch screen. I believe that by making the platform more customizable, UGS can support more platforms and might be easier to extend.

Take the toolbar panel for handling the GRBL connection for instance. If we break it apart we could hide the set

[2017-04-15 18:43] winder commented on #621
One of the main reasons so much of the GUI code is in ugs-core is to allow me to support the classic GUI as well as the platform. I would like to use more of the NetBeans platform, and this looks like a big improvement to what I'm currently using, but it would need to be done in a backward compatible way.

About localization, I really didn't like the way it was done with NetBeans - every package n

[2017-04-15 18:48] winder commented on #621
I guess the next question is why I'm supporting both GUIs... I think a lot of people find value in the basic no-frills interface of the classic swing implementation. Maybe it will go away eventually but I don't want to deprecate it before even a single stable platform release.

[2017-04-15 21:12] ermendaa opened #622 "Spanish translation"
Hello I have done the translation to Spanish of the file Message_Bundle_ES.properties :

[MessagesBundle_es_ES.zip](https://github.com/winder/Universal-G-Code-Sender/files/924364/MessagesBundle_es_ES.zip)

[2017-04-16 01:38] walkinplaces opened #623 "GUI Scaling for high DPI/4K screen?"
Are there any tricks to adjust the target resolution of the program? I have a 4k laptop monitor, and the interface comes in really, really small. I'd like to avoid changing to a lower resolution every time I need to use the program... is there workaround?

[2017-04-16 18:22] joacimb commented on #621
I agree that it's important to keep backwards compatibility. I'll give it a go and will try to not break anything. =)

[2017-04-17 12:08] winder commented on #623
@walkinplaces are you using the classic or platform version?

[2017-04-17 13:44] #622 closed

[2017-04-17 19:05] joacimb commented on #621
The changes are checked in #624, I messed up my commit comments.

[2017-04-18 01:08] walkinplaces commented on #623
@winder I am using the classic version.

[2017-04-18 12:42] winder commented on #623
@walkinplaces you can try using a Java9 early release version, it is supposed to fix this. Alternatively, I've been told the Platform version has better support for HiDPI screens.

[2017-04-18 12:42] #623 closed

[2017-04-18 13:44] winder commented on #267
It's probably a little early to share this since there is still a lot more work to do (and my machine isn't even setup to test it), but I'm really pleased with how well the UI proof of concept turned out. This is the culmination of the last 1.5 years of UGS Platform development to allow these kinds of features to be implemented as standalone plugins. The bottom panel with all the settings is a sta

[2017-04-18 15:37] vMeph commented on #267
Wow awsome news cant wait to test it out😀

[2017-04-18 21:57] DOUG888 commented on #267
Looking good Will, thanks for the update…as always appreciate all the effort You put in.

Doug

From: Will Winder [mailto:notifications@github.com]
Sent: Tuesday, 18 April 2017 11:44 PM
To: winder/Universal-G-Code-Sender
Cc: Subscribed
Subject: Re: [winder/Universal-G-Code-Sender] Probing & Auto levelling (#267)

It's probably a little early to share this since there is still a lot more work to do

[2017-04-19 02:58] cjbaar opened #625 "Inconsistent "Return to Zero" results"
I am having difficulty getting useful and consistent results from "Return to Zero" function. Maybe I am not using it correctly, but I am not sure how else to accurately reposition the spindle after changing bits.

Sometimes the command just sends "G90 X0 Y0 Z0". When it does this, my arduino-based board processes the Z-axis first, so the bit ends up dragging across the work piece. Other times, it

[2017-04-19 09:29] jahnj0584 commented on #625
I sent this issue before. Are you on the latest version? A work around is
jogging the Z to its machine 0 first then clicking it

On Apr 18, 2017 11:58 PM, "cjbaar" <notifications@github.com> wrote:

[2017-04-19 12:21] bashkan opened #626 "Is "Folder Mode" a possibility?"
Hi,
I am not sure if this is the right place to post it, but I am new to this environment so please forgive me if I am doing something wrong.
I believe Universal G Code Sender is a great software and it is the perfect choice for all the CNC people out there. However, I need a feature for my setup which is somehow different than a classical CNC. My device is a 2 axis machine which draws on sand by

[2017-04-19 12:46] winder commented on #626
@bashkan I'm not planning to implement anything like this, but you should be able to make something to accomplish your specific task. Take a look at the grbl stream.py or simple_stream.py programs:
https://github.com/grbl/grbl/blob/master/doc/script/stream.py
https://github.com/grbl/grbl/blob/master/doc/script/simple_stream.py

To start with you could wrap one of those with another script that ite

[2017-04-19 13:01] bashkan commented on #626
@winder Thank you very much for your prompt reply. I will check the links that you sent right now.

[2017-04-19 14:30] joacimb commented on #619
I can't recreate the issue after the fix. I've tried switching to several languages on different platforms. I think we can close the issue.

[2017-04-19 18:27] cjbaar commented on #625
I am using version 1.0.9, which appears to be the latest in the stable branch. I have tried manually moving the spindle close to home before clicking it, in order to prevent the bit from dragging too far. However, this doesn't help anything when UGS decides to send a "Z4896.3" command and raise the spindle 400 feet into the air.

[2017-04-19 19:22] jahnj0584 commented on #625
Try with the platform version

On Apr 19, 2017 3:27 PM, "cjbaar" <notifications@github.com> wrote:

[2017-04-19 21:36] Radiu commented on #267
@winder
amazing :)
when you think will be possible share for we can test  has a autolevel helper test to help you with it?

[2017-04-20 03:31] #626 closed

[2017-04-20 03:33] winder commented on #625
@cjbaar those issues should be fixed in the nightly build version

[2017-04-20 03:33] #625 closed

[2017-04-20 03:33] #619 closed

[2017-04-20 03:34] #577 closed

[2017-04-20 13:08] strider460 opened #628 "Raspberry pi - Platform - Netbeans stops after "reading module storage""
I've been out of the UGS / GRBL world for a while now and I am just getting around to updating both the arduino and raspberry pi for my cnc, since I am really excited about the feeds and speeds override in grbl 1.2 and the modularity of the new UGS platform layout, but I am having some trouble. At first I thought it was a Java problem so I updated to the newest raspbain on my Pi and it's running j

[2017-04-20 13:21] winder commented on #628
If you run that ugsplatform shell script from the terminal are there any error messages in the output?

[2017-04-20 14:08] strider460 commented on #628
I guess it is worth mentioning i have the "ugsplatform" folder, downloaded from the new UGS websites download page, and i am using it from there.

The output of the terminal is fairly lengthy; the whole thing is in a text file in the link below:
[https://drive.google.com/open?id=0B2GD-Zc8XyOHaDlydl9HODdtSDg](url)

it seems to be a loop of the below error message in a couple of variations (error op

[2017-04-20 14:12] strider460 commented on #628
Clicking on the link to my drive file doesn't work, I think that was my bad. Copy pasting it looks like it works though.

[2017-04-20 14:23] winder commented on #628
@strider460 my only guess is that one of the files is corrupt and the error is not being handled very well, could you try re-downloading the archive?

[2017-04-20 15:41] strider460 commented on #628
wow... replaced the folder with a fresh download and it worked like a charm. I don't know where I got the file from but it was more than likely something I did.

Thanks @winder !

[2017-04-20 15:41] #628 closed

[2017-04-20 18:15] mahid1 commented on #116
is there a way for changing the startup line? grbl and version?

[2017-04-20 18:20] winder commented on #116
@mahid1 It isn't configurable, but in the code it's done here: https://github.com/winder/Universal-G-Code-Sender/blob/717da06f8d7c724b7212daa4b6a42a365c89ebc9/ugs-core/src/com/willwinder/universalgcodesender/GrblUtils.java#L88

[2017-04-20 18:40] mahid1 commented on #116
thanks winder,ill have a look.

[2017-04-20 18:44] mahid1 commented on #116
just checked it, so that is in UGS not grbl firmware. Any guidelines?.

[2017-04-20 18:49] winder commented on #116
@mahid1 could you create a new ticket and describe what you're trying to accomplish? I'm really not sure how to answer your question as is.

[2017-04-20 18:51] mahid1 opened #629 "Firmware Version"
How can i stop displaying grbl firmware version string? I have recently learnt that it can be done from UGS. But i am not sure how to?

[2017-04-20 18:53] winder commented on #629
Do you want to prevent the version string from being displayed in the UGS console?

Remove this line: https://github.com/winder/Universal-G-Code-Sender/blob/717da06f8d7c724b7212daa4b6a42a365c89ebc9/ugs-core/src/com/willwinder/universalgcodesender/GrblController.java#L157

[2017-04-20 21:48] cjbaar commented on #625
So far, much better with the platform version. Guess I'll stick with that from now on. Thanks for the input!

[2017-04-20 22:09] winder commented on #625
@cjbaar Thanks for the update!

[2017-04-21 04:16] cjbaar commented on #625
Actually, I was to quick to respond. Doing some more work this evening (using platform edition), and the return button issued:

Again, since the Z0 was issued first, I got a nice scratch across the top of the piece. I would just like to be able to edit what commands are sent so I know that they are consistent.
Thanks again for all your work!

[2017-04-21 09:36] joacimb commented on #625
I've experienced scratched surfaces by homing myself, mostly because my crappy home built CNC machine isn't absolutly leveled... =)

I saw that the max position has previously been used but removed because of people experiencing problems with this feature. I'm thinking that we could instead use an optional setting for Z clearance distance to be used?

[2017-04-21 10:00] jahnj0584 commented on #625
If you're scratching your Z is too low anyways.

On Apr 21, 2017 6:36 AM, "Joacim Breiler" <notifications@github.com> wrote:

[2017-04-21 10:19] mahid1 commented on #629
Thanks buddy,
Do i need to have a specific compiler to do this? Also please let me know if there is a way i can add lcd with grbl. I am using atmega2650.

[2017-04-21 10:47] mahid1 commented on #629
Unable to execute UGS.
Virus definition detected after execution of sim

[2017-04-21 12:20] winder commented on #629
Any Java IDE should work, you can try the documentation here: http://winder.github.io/ugs_website/dev/getting_started/

[2017-04-21 12:31] winder commented on #625
Unfortunately, this is all expected behavior at this point.

I used to have a feature to raise the Z axis to the maximum Z-height, but there was a bug in it causing the original issue. I believe it was somehow related to homing but was never able to reproduce it and ended up disabling the feature.

Shortly after disabling the feature there were reports that people would use return-to-zero while Z-

[2017-04-21 14:15] cjbaar commented on #625
OK... so back to my original question... can we have option to put in our own commands for these buttons. I don't see any way to create macros in the platform version. I see a panel for them, but it looks like maybe they aren't implemented yet? But even it were, that puts things on another tab, and now I have to remember what "M1" "M2" "M3" etc mean.

I am in the process of adding limit switches o

[2017-04-21 14:18] winder commented on #625
@cjbaar macros are the only configurable buttons, in the platform, you can configure them from the preferences (sounds like that menu isn't visible enough). Macros in the nightly build are nameable, so no need to remember "M1" "M2" "M3", etc.

[2017-04-21 14:23] cjbaar commented on #625
OK, thanks. You are right. I did not see them looking through the preferences the first time.

[2017-04-22 01:15] Harvie opened #632 "Show Z dimension decomposed to + and -"
![image](https://cloud.githubusercontent.com/assets/276504/25300157/6287fb38-2709-11e7-8a42-671ca9f4a069.png)

Stuff under Z0 is usualy what is actually being cut, while stuff over Z0 is just safety margin and moving over the stock.

So right now if i drill few holes, 10mm deep and i have 15mm safety margin overall Z dimension shown is 25mm, which makes sense. But it would be easier to quickly che

[2017-04-22 01:17] jahnj0584 commented on #632
I suggested this before, by listing the z height in two segments based off
the clearence plane (z0+) and the work plane (z0-)

On Apr 21, 2017 10:15 PM, "Tomas Mudrunka" <notifications@github.com> wrote:

[2017-04-22 21:47] mahid1 opened #633 "LCD Using AtMega2650"
Is there any way we can add an LCD with grbl? We plan to use atmega2560 for this project.

[2017-04-22 21:54] vMeph commented on #633
you can start by here
https://github.com/grbl/grbl/issues/1125

[2017-04-23 09:28] mahid1 commented on #633
thanks vMeph i had a look but found nothing specific to mega.

[2017-04-23 19:10] cjbaar commented on #625
Thanks again for the info, @winder. I can see where the macros are created (and named), but when I click on one of the buttons in the Macros panel, it doesn't send any commands. Is there another step to getting these enabled?

[2017-04-23 19:48] cjbaar commented on #584
This is a great enhancement. Thanks again, @winder. However, I am not 100% clear on how this is used. I have set up a probe, and entered the parameters. When I initiate the probe, it crawls down the Z-axis, as expected, until it contacts the plate. Then, it issues a command like "G43.1 Z-30.925". I do not understand what I am supposed do with that value. As far as I can tell, this only resets the

[2017-04-23 21:05] vMeph commented on #625
it should be working fine,
you got to name and set g code parameters
exemples:

Macro name              G code                            Macro Description

Spindle ON               S1000 M3                        turns on spindle
Spindle OFF               S0 M5                             turns off spindle
G54                           G10 P1 L20 X0 Y0 Z0       select work offset

[2017-04-24 09:08] thibalte commented on #584
I believe what you just wrote as what UGS should do is what has been discussed above and what it's currently doing, it issues the Probing command (G38.2), and then resets the work Z (G92 Z..). I'm not sure where is this G43.1 coming from?

Also you have a great point about issuing a back-off command after the probing, currently this has to be done manually after the probing, maybe we could add a l

[2017-04-24 12:28] winder commented on #584
@thibalte @cjbaar I'm using G43.1 instead of G92. That seemed to be the recommended way of doing this.

I agree about the back-off. I'm planning to send the tool back to the starting location rather than having another setting.

[2017-04-24 13:31] vMeph commented on #584
If we could have the setting for set how mutch  we want to back off tool would be a more complete solution

[2017-04-24 15:35] jahnj0584 commented on #584
I'd also prefer the bit to retract a user-srt distance rather then machine
home or whatever. I probe Z near my work 0 then set x/y

On Apr 24, 2017 10:31 AM, "Meph1" <notifications@github.com> wrote:

[2017-04-24 19:37] cjbaar commented on #584
Well, assuming that we are all manually adjusting Z to be "close" to the plate before initiating the probe, the easiest thing to do would be to back off to where the probe started. This doesn't require a setting, and should return to a "safe" spot.

@winder... I have read that documentation, but in practice issuing G43.1 doesn't seem to affect anything. After every probe, I still have to manually

[2017-04-24 19:42] cjbaar commented on #563
I am not sure if this is the best place to comment on this, but I am having a similar issue. After hitting a hard reset (running into a physical limit switch), I have to disconnect and reconnect the serial port in order to reset the arduino firmware. However, about 25% of time, the "Jog Controller" functions do not re-activate. Even after homing or issuing $X, they are still grayed-out, and I have

[2017-04-24 19:49] vMeph commented on #584
will be better if we set the height were we want to retract Z, will be a more complete action....

[2017-04-25 20:35] cjbaar commented on #584
OK, well let me retract my earlier statement. I have been using the probe more, and now it does seem to be resting the z-axis properly. Not sure why it didn't seem to do it before, but the current method is working for me. Adding a back-off would still be a nice touch. :)

[2017-04-25 20:38] cjbaar commented on #625
Thanks, @vMeph. I have setup some macros, as shown here. However, when I click on the buttons in the macros panel, they don't do anything. No commands are sent. (Not sure if I should continue this here, or post a separate issue.)
<img width="693" alt="screen shot 2017-04-25 at 2 36 08 pm" src="https://cloud.githubusercontent.com/assets/1058385/25406678/c93cbbda-29c4-11e7-8c01-bc1baa1c8a3d.png">

[2017-04-25 20:43] cjbaar commented on #601
I second this one. When soft limits are hit, my "Common Actions" panel grays out and never returns. Issuing a manual "$X" does nothing. I have to quit and restart UGS.

[2017-04-25 20:48] cjbaar commented on #584
Nope. Spoke too soon again.  :)  I restarted UGS, and now the probe is not setting Z height correctly again.

[2017-04-25 21:44] cjbaar commented on #584
OK... a bit more rambling. :)
It appears that the first use of the probe after restarting UGS or re-connecting the serial port does not reset the z-axis to where it needs to be. I am still issuing the "G92 Zn" command. However, after I have done this once, subsequent uses of the probe *do* properly reset the z-axis with only the use of G43.1. But it does appear, to me anyway, that G92 does play an

[2017-04-25 21:58] vMeph commented on #601
when grbl issues a alarm you have always to reset arduino

[2017-04-25 22:35] winder commented on #584
@cjbaar have you tried using g43.1 instead of g92? The documentation I've read always suggests that g43.1 is the preferred method.

Can you identify anything else about your workflow that could cause this?
Are you probing right after restarting grbl?
After homing / jogging to a probe location?
What version of grbl are you using?

Here is some additional documentation https://www.shapeoko.com/wiki/

[2017-04-25 23:21] cjbaar commented on #601
I though the arduino only needed to be reset on hard limits, not soft ones. But, in either case, I shouldn't have to quit restart UGS. This isn't an issue with the arduino not responding, it's one of UGS not allowing access to buttons.

[2017-04-25 23:28] cjbaar commented on #584
Well, maybe I am not using the zero function correctly. However, I find that my jobs do not end up in the correct place unless the tip of the bit, on the surface, is showing Z 0.00 before any run. So I am re-running the probe every time I change the tool, or every time UGS forces me to restart and I have to redo the whole homing sequence. My grbl firmware is 0.9j

As I have discovered (most recent

[2017-04-27 03:06] gdc5414 opened #634 "GRBL NOT FINISHED LOADING, HELP!"
![grblnotfinished](https://cloud.githubusercontent.com/assets/27893487/25466126/46390cdc-2abb-11e7-99c9-47636a71dd32.PNG)

So Im using Windows 10, GRBL.9, Arduino, and UGS. I had this working a few days ago but the z-axis stopped working. So I got another shield and remounted it. Now I can't connect. It says in UGS "**** Connected to COM4 @ 115200 baud **** But then thats it. If I do anything, it

[2017-04-27 12:38] 20051971 commented on #615
On 3 different computers on Windows XP (clean installation), the program ugsplatform.exe contained in \ bin does not start without any error message (I do not even have the Netbeans window at startup).

I have done the most tests and I would like to use an Asus EeeBox PC B202:

• CPU: Intel® Atom ™ N270 (CPU speed: 1.60 GHz - Bus speed: 533 MHz - Cache size L2: 512 KB)
• Chipset: Intel® 945GSE ICH